<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.ocr</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>763B39BE-E24D-4449-A0E3-C2E2021623EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2E6CA5F-BA54-489F-A6E2-A97F223F3F72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85F97DB5-3EC6-4AE2-BD8A-E53075B998BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5973360-B453-4F19-BEC6-695832FF1756</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2E6CA5F-BA54-489F-A6E2-A97F223F3F72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9985942A-C3C2-45A5-A0B1-44038F392823</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85F97DB5-3EC6-4AE2-BD8A-E53075B998BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5973360-B453-4F19-BEC6-695832FF1756</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1CABD85-A795-45F0-B22D-BE7AB8B76884</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Get the text in the screenshot to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string>Extract text from Clipboard</string>
				<key>text</key>
				<string>OCR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>763B39BE-E24D-4449-A0E3-C2E2021623EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>OCR to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/shortcuts run 'OCR'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9985942A-C3C2-45A5-A0B1-44038F392823</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>to_clipboard</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/screen-capture/screenshot.interactive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A2E6CA5F-BA54-489F-A6E2-A97F223F3F72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>OCR.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D1CABD85-A795-45F0-B22D-BE7AB8B76884</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>OCR</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>85F97DB5-3EC6-4AE2-BD8A-E53075B998BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Missing Shortcut</string>
						<key>uid</key>
						<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5973360-B453-4F19-BEC6-695832FF1756</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Activate OCR keywords, select the screen area, and press Enter to immediately obtain the text.

Use the built-in OCR, no need to install dependencies.</string>
	<key>uidata</key>
	<dict>
		<key>763B39BE-E24D-4449-A0E3-C2E2021623EC</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>85F97DB5-3EC6-4AE2-BD8A-E53075B998BF</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>9985942A-C3C2-45A5-A0B1-44038F392823</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A2E6CA5F-BA54-489F-A6E2-A97F223F3F72</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>D1CABD85-A795-45F0-B22D-BE7AB8B76884</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>D5973360-B453-4F19-BEC6-695832FF1756</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.1</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/ocr</string>
</dict>
</plist>
