<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.paste2Files</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>25B6709D-C550-4798-B2FE-CE4610ABE4A6</key>
		<array/>
		<key>3486ED42-3BF3-414E-B743-89AB7114D06C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4970D682-8B12-40F9-9849-BD67C73AE24C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8DF82D57-BC24-48E8-8949-6630958194D9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25B6709D-C550-4798-B2FE-CE4610ABE4A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A5A92A5-645B-4F8A-AB98-15E4E7F878E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB607606-49C5-4F92-A925-F150AC4AB5E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>562D30F9-AC34-4227-A3FF-A092B8ECD849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C6BF692-790B-4574-BF0C-B626D6DE647B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68E7E523-68BF-40FB-ADC8-B4D2A7593214</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3486ED42-3BF3-414E-B743-89AB7114D06C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C6BF692-790B-4574-BF0C-B626D6DE647B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3486ED42-3BF3-414E-B743-89AB7114D06C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2B9D028-E51B-413F-ACBD-C90276FFB239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A5A92A5-645B-4F8A-AB98-15E4E7F878E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB607606-49C5-4F92-A925-F150AC4AB5E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E7E523-68BF-40FB-ADC8-B4D2A7593214</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>452EF932-1D1B-4305-83B6-FF1CC1466D1E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>562D30F9-AC34-4227-A3FF-A092B8ECD849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste into files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=`date +%F-%H%M%S`
filename="$d.$out_image_suffix"
file="$DEST_DIR/$filename"
file="${file//\~/$HOME}"

curl -s -0 "{query}" $file
echo -n 1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68E7E523-68BF-40FB-ADC8-B4D2A7593214</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A5A92A5-645B-4F8A-AB98-15E4E7F878E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>https?://</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>452EF932-1D1B-4305-83B6-FF1CC1466D1E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB607606-49C5-4F92-A925-F150AC4AB5E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please copy content first or Desc not exist</string>
				<key>title</key>
				<string>Paste Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4970D682-8B12-40F9-9849-BD67C73AE24C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
set info to (clipboard info) as stringreturn info
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>562D30F9-AC34-4227-A3FF-A092B8ECD849</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paste</string>
				<key>subtext</key>
				<string>img</string>
				<key>text</key>
				<string>Paste into files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2B9D028-E51B-413F-ACBD-C90276FFB239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>25B6709D-C550-4798-B2FE-CE4610ABE4A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=`date +%F-%H%M%S`
filename="$d.$out_image_suffix"
file="$DEST_DIR/$filename"
file="${file//\~/$HOME}"

/usr/local/bin/pngpaste $file &amp;&amp; echo $file || echo -n 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C6BF692-790B-4574-BF0C-B626D6DE647B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8DF82D57-BC24-48E8-8949-6630958194D9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3486ED42-3BF3-414E-B743-89AB7114D06C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; paste into files

1. paste into image file with jpeg or png suffix, support user configuration
2. paste into files from url

## requirement

`brew install pngpaste`</string>
	<key>uidata</key>
	<dict>
		<key>25B6709D-C550-4798-B2FE-CE4610ABE4A6</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>3486ED42-3BF3-414E-B743-89AB7114D06C</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>3A5A92A5-645B-4F8A-AB98-15E4E7F878E6</key>
		<dict>
			<key>note</key>
			<string>get clipboard content</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4970D682-8B12-40F9-9849-BD67C73AE24C</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>562D30F9-AC34-4227-A3FF-A092B8ECD849</key>
		<dict>
			<key>note</key>
			<string>clipboard meta info</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>68E7E523-68BF-40FB-ADC8-B4D2A7593214</key>
		<dict>
			<key>note</key>
			<string>read file from URL</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>6C6BF692-790B-4574-BF0C-B626D6DE647B</key>
		<dict>
			<key>note</key>
			<string>read pic from clipboard</string>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>D2B9D028-E51B-413F-ACBD-C90276FFB239</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>DB607606-49C5-4F92-A925-F150AC4AB5E0</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>jpeg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>jpeg,png</string>
			<key>label</key>
			<string>Image Suffix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>out_image_suffix</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEST_DIR</key>
		<string>~/Desktop</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/paste-into-files</string>
</dict>
</plist>
