<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.vscode-open-project</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>8427B879-3650-4C0D-A81E-D8203A82CB02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD5F34BA-7620-4083-9A2C-668EE3B9C0E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSCode - Open Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:EDITOR}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching project</string>
				<key>script</key>
				<string>./main.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Project</string>
				<key>title</key>
				<string>Open Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8427B879-3650-4C0D-A81E-D8203A82CB02</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$EDITOR $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD5F34BA-7620-4083-9A2C-668EE3B9C0E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; This Alfred workflow allows you to quickly search and open recently accessed projects in Code or Cursor with a single keystroke, streamlining your workflow and boosting productivity.



no any dependency.

## Support IDE

1. VSCode
2. Cursor


## Usage

type keyword to search recent projects, enter to open.</string>
	<key>uidata</key>
	<dict>
		<key>8427B879-3650-4C0D-A81E-D8203A82CB02</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>DD5F34BA-7620-4083-9A2C-668EE3B9C0E8</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>code</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Code</string>
						<string>code</string>
					</array>
					<array>
						<string>Cursor</string>
						<string>cursor</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>support any Code like IDE</string>
			<key>label</key>
			<string>Editor</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>EDITOR</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
