<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.mountVolume</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>32101DAE-C9F7-4DD7-8443-EFD3E3883460</key>
		<array/>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32101DAE-C9F7-4DD7-8443-EFD3E3883460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>connect to server quickly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mount Volume</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mount</string>
				<key>subtext</key>
				<string>connect to server</string>
				<key>text</key>
				<string>Mount Volume</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run	set theQuery to "{query}"		tell application "Finder"		set theServerAddress to (system attribute "server_address")		set theUsername to (system attribute "username")		set thePassword to (system attribute "password")				mount volume theServerAddress as user name theUsername with password thePassword			end tell		return theQueryend run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32101DAE-C9F7-4DD7-8443-EFD3E3883460</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Connect to server quickly.

Network like SMB/CIF、NFS 和 FTP。

@see https://support.apple.com/guide/mac-help/network-address-formats-and-protocols-on-mac-mchlp1654/11.0/mac/11.0</string>
	<key>uidata</key>
	<dict>
		<key>32101DAE-C9F7-4DD7-8443-EFD3E3883460</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>password</key>
		<string></string>
		<key>server_address</key>
		<string></string>
		<key>username</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>server_address</string>
		<string>username</string>
		<string>password</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
