<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.surge</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0636B261-83DB-4543-80DF-242F3DC91488</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B781B29-1B66-4F9C-8B61-8477E02878CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>184429E5-5B99-4D80-8741-ACC0B6820475</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0636B261-83DB-4543-80DF-242F3DC91488</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2535B20A-F43D-438D-8DF6-2F037994030B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5468E8DA-D6EE-46E4-B944-F358BFBB350A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>672241DA-A742-4C25-8736-D929FC69A4E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E78945D3-3452-4A45-A0B8-2A46BACB37B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2535B20A-F43D-438D-8DF6-2F037994030B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5468E8DA-D6EE-46E4-B944-F358BFBB350A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBB56AB5-5DF6-4763-8504-006F8B6066C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A700346D-23C4-4082-B08E-5310676FC7B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F22E5F9-D68C-4D1A-BDDD-E0D6FBE8F0F9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC027DAF-E73F-4CE8-AD72-6A8EF241675C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B781B29-1B66-4F9C-8B61-8477E02878CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BAF32485-BCE3-4162-A461-73BF076974E5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F593F692-F916-42BB-99B7-140B87623C13</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B094556D-7E5F-4164-B13E-9BB4ED4E4CB8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E933A172-0BB9-448B-A033-1E0AC7512B93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3DE87DAE-DC88-4020-8D85-3C764F5C8DAD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>672241DA-A742-4C25-8736-D929FC69A4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>14FA5E04-9ADE-4A0A-B8D5-4A034446C6FA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F9640CA-01F8-4302-A00C-84BA9B4CA810</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E78945D3-3452-4A45-A0B8-2A46BACB37B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD911E40-3BD8-4B7B-A8A9-2D5ADB28887C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Quick to Surge</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Surge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node node_modules/@stacker/alfred-utils/dist/alfred-cli-download.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A700346D-23C4-4082-B08E-5310676FC7B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update_workflow</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8F22E5F9-D68C-4D1A-BDDD-E0D6FBE8F0F9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>outboundmode</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>CC027DAF-E73F-4CE8-AD72-6A8EF241675C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>httpApi</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F593F692-F916-42BB-99B7-140B87623C13</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dns</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>BAF32485-BCE3-4162-A461-73BF076974E5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>policyGroups</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B094556D-7E5F-4164-B13E-9BB4ED4E4CB8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>profiles</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E933A172-0BB9-448B-A033-1E0AC7512B93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>module</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8F9640CA-01F8-4302-A00C-84BA9B4CA810</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rules</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>14FA5E04-9ADE-4A0A-B8D5-4A034446C6FA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>log</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>3DE87DAE-DC88-4020-8D85-3C764F5C8DAD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>surge</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js $HTTP_API</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>quick to surge</string>
				<key>title</key>
				<string>Surge</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Direct Outbound","arg":"direct","subtitle":"All requests will be sent to the target server directly"},{"title":"Global Proxy","arg":"proxy","subtitle":"All requests will be forwarded to a proxy server"},{"title":"Rule-based Proxy","arg":"rule","subtitle":"Using rule system to determine how to process requests"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./outbound.js $HTTP_API {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B781B29-1B66-4F9C-8B61-8477E02878CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Surge.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./dns.js $HTTP_API {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Flush DNS","arg":"\/dns\/flush","subtitle":"Flush the DNS cache."},{"title":"DNS Cache","arg":"\/dns","subtitle":"Obtain the current DNS cache content."},{"title":"DNS Delay","arg":"\/test\/dns_delay","subtitle":"Test the DNS delay."}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>module</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node policy-groups.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5468E8DA-D6EE-46E4-B944-F358BFBB350A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node ./policy-groups-policys.js "$group" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2535B20A-F43D-438D-8DF6-2F037994030B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>group</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>672241DA-A742-4C25-8736-D929FC69A4E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node profiles.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0636B261-83DB-4543-80DF-242F3DC91488</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Modified successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node module.js $HTTP_API "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./do.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node rules.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E78945D3-3452-4A45-A0B8-2A46BACB37B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Surge.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AD911E40-3BD8-4B7B-A8A9-2D5ADB28887C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Surge Mac 4.0提供了HTTP API支持，因此终于可以打通外部App调用了。这里实现了Alfred的打通，比如快速切换代理模式等。

## install 

1. install node
2. 开启Surge API支持

##  如何开启Surge API支持

配置文件中增加如下配置

```
http-api = examplekey@0.0.0.0:6171

```

更多介绍参见这里 https://1991421.cn/2020/11/16/a12a6619/

### Surge API官方文档

据作者所说，未来还会开放更多API，敬请期待。。。

- https://manual.nssurge.com/others/http-api.html

## 注意
Surge Mac 4.0.0、Surge iOS 4.4.0开始提供HTTP API, 即该版本之前的均不支持</string>
	<key>uidata</key>
	<dict>
		<key>0636B261-83DB-4543-80DF-242F3DC91488</key>
		<dict>
			<key>note</key>
			<string>Profiles</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>0B781B29-1B66-4F9C-8B61-8477E02878CD</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>184429E5-5B99-4D80-8741-ACC0B6820475</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>2535B20A-F43D-438D-8DF6-2F037994030B</key>
		<dict>
			<key>note</key>
			<string>group-policy list</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>32F87F30-C084-443C-8A7F-43B9F5588E2A</key>
		<dict>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>5468E8DA-D6EE-46E4-B944-F358BFBB350A</key>
		<dict>
			<key>note</key>
			<string>Policy Groups</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</key>
		<dict>
			<key>note</key>
			<string>dns</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>672241DA-A742-4C25-8736-D929FC69A4E5</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</key>
		<dict>
			<key>note</key>
			<string>DNS mode</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>A700346D-23C4-4082-B08E-5310676FC7B1</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>AD911E40-3BD8-4B7B-A8A9-2D5ADB28887C</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</key>
		<dict>
			<key>note</key>
			<string>warning for turn on http-api</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>BBB56AB5-5DF6-4763-8504-006F8B6066C9</key>
		<dict>
			<key>note</key>
			<string>do something</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</key>
		<dict>
			<key>note</key>
			<string>outbound mode</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>E78945D3-3452-4A45-A0B8-2A46BACB37B7</key>
		<dict>
			<key>note</key>
			<string>Rules</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</key>
		<dict>
			<key>note</key>
			<string>module</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>HTTP_API</key>
		<string>examplekey@127.0.0.1:6171</string>
		<key>check_update</key>
		<string>true</string>
		<key>remote_info_list_url</key>
		<string>https://raw.githubusercontent.com/alanhg/alfred-workflows/master/surge/src/info.plist</string>
		<key>remote_workflow_url</key>
		<string>https://raw.githubusercontent.com/alanhg/alfred-workflows/master/surge/Surge.alfredworkflow</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.9</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/surge</string>
</dict>
</plist>
