<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.surge</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0636B261-83DB-4543-80DF-242F3DC91488</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26B7B094-1135-4D44-9C83-4A44BF60676A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal profile in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0785A01E-68C4-485D-A2C8-58607552185C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E78945D3-3452-4A45-A0B8-2A46BACB37B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B781B29-1B66-4F9C-8B61-8477E02878CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>184429E5-5B99-4D80-8741-ACC0B6820475</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0636B261-83DB-4543-80DF-242F3DC91488</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2535B20A-F43D-438D-8DF6-2F037994030B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26B7B094-1135-4D44-9C83-4A44BF60676A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C07A059-1788-425B-B78F-E0E083008564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5468E8DA-D6EE-46E4-B944-F358BFBB350A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View submenu</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>672241DA-A742-4C25-8736-D929FC69A4E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E78945D3-3452-4A45-A0B8-2A46BACB37B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2535B20A-F43D-438D-8DF6-2F037994030B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5468E8DA-D6EE-46E4-B944-F358BFBB350A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8B7F4BE-AC75-4422-824F-24CE3504A736</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D011412-96FD-4B01-A35D-5DF525CE08A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBB56AB5-5DF6-4763-8504-006F8B6066C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A700346D-23C4-4082-B08E-5310676FC7B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F22E5F9-D68C-4D1A-BDDD-E0D6FBE8F0F9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC027DAF-E73F-4CE8-AD72-6A8EF241675C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B781B29-1B66-4F9C-8B61-8477E02878CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BAF32485-BCE3-4162-A461-73BF076974E5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F593F692-F916-42BB-99B7-140B87623C13</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B094556D-7E5F-4164-B13E-9BB4ED4E4CB8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E933A172-0BB9-448B-A033-1E0AC7512B93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3DE87DAE-DC88-4020-8D85-3C764F5C8DAD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>672241DA-A742-4C25-8736-D929FC69A4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>14FA5E04-9ADE-4A0A-B8D5-4A034446C6FA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8F9640CA-01F8-4302-A00C-84BA9B4CA810</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E78945D3-3452-4A45-A0B8-2A46BACB37B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8B7F4BE-AC75-4422-824F-24CE3504A736</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Toogle Selected Rule</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Quick to Surge</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Surge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node node_modules/@stacker/alfred-utils/dist/alfred-cli-download.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A700346D-23C4-4082-B08E-5310676FC7B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update_workflow</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8F22E5F9-D68C-4D1A-BDDD-E0D6FBE8F0F9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>outboundmode</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>CC027DAF-E73F-4CE8-AD72-6A8EF241675C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>httpApi</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F593F692-F916-42BB-99B7-140B87623C13</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dns</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>BAF32485-BCE3-4162-A461-73BF076974E5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>policyGroups</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B094556D-7E5F-4164-B13E-9BB4ED4E4CB8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>profiles</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E933A172-0BB9-448B-A033-1E0AC7512B93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>module</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8F9640CA-01F8-4302-A00C-84BA9B4CA810</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rules</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>14FA5E04-9ADE-4A0A-B8D5-4A034446C6FA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>log</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>3DE87DAE-DC88-4020-8D85-3C764F5C8DAD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>surge</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Waiting</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js $HTTP_API</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>quick to surge</string>
				<key>title</key>
				<string>Surge</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Direct Outbound","arg":"direct","subtitle":"All requests will be sent to the target server directly"},{"title":"Global Proxy","arg":"proxy","subtitle":"All requests will be forwarded to a proxy server"},{"title":"Rule-based Proxy","arg":"rule","subtitle":"Using rule system to determine how to process requests"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./outbound.js $HTTP_API {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B781B29-1B66-4F9C-8B61-8477E02878CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Surge.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./dns.js $HTTP_API {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Flush DNS","arg":"\/dns\/flush","subtitle":"Flush the DNS cache."},{"title":"DNS Cache","arg":"\/dns","subtitle":"Obtain the current DNS cache content."},{"title":"DNS Delay","arg":"\/test\/dns_delay","subtitle":"Test the DNS delay."}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Modified successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32F87F30-C084-443C-8A7F-43B9F5588E2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>module</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>184429E5-5B99-4D80-8741-ACC0B6820475</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node ./policy-groups-policys.js "$group" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2535B20A-F43D-438D-8DF6-2F037994030B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node policy-groups.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5468E8DA-D6EE-46E4-B944-F358BFBB350A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>group</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>672241DA-A742-4C25-8736-D929FC69A4E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./do.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBB56AB5-5DF6-4763-8504-006F8B6066C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node profiles.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0636B261-83DB-4543-80DF-242F3DC91488</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node module.js $HTTP_API "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>7C07A059-1788-425B-B78F-E0E083008564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:CONF_FILE_LOCATION}/{query}.conf</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>group</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26B7B094-1135-4D44-9C83-4A44BF60676A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>rules</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3D011412-96FD-4B01-A35D-5DF525CE08A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node rules.js '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E78945D3-3452-4A45-A0B8-2A46BACB37B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./toggle-rule.js '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8B7F4BE-AC75-4422-824F-24CE3504A736</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>rules</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0785A01E-68C4-485D-A2C8-58607552185C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Surge Mac 4.0提供了HTTP API支持，因此终于可以打通外部App调用了。这里实现了Alfred的打通，比如快速切换代理模式等。

## 功能


1. 支持代理模式切换
2. 支持增强模式开关
3. 支持规则检索及切换选中状态
4. 支持MitM开关
5. 支持模块开关
6. 支持选中profile切换，⌘ enter 则finder下选中profile文件


### 操作说明
1. option enter进入下一级菜单
2. enter选中
3. command enter表示reveal in finder

## 安装 

1. brew install node
2. 开启Surge API支持

##  如何开启Surge API支持

配置文件中增加如下配置

```
http-api = examplekey@0.0.0.0:6171

```

更多介绍参见这里 https://1991421.cn/2020/11/16/a12a6619/

### Surge API官方文档

据作者所说，未来还会开放更多API，敬请期待。。。

- https://manual.nssurge.com/others/http-api.html


## 注意
Surge Mac 4.0.0、Surge iOS 4.4.0开始提供HTTP API, 即该版本之前的均不支持</string>
	<key>uidata</key>
	<dict>
		<key>0636B261-83DB-4543-80DF-242F3DC91488</key>
		<dict>
			<key>note</key>
			<string>Profiles</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>0785A01E-68C4-485D-A2C8-58607552185C</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>0B781B29-1B66-4F9C-8B61-8477E02878CD</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>184429E5-5B99-4D80-8741-ACC0B6820475</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>2535B20A-F43D-438D-8DF6-2F037994030B</key>
		<dict>
			<key>note</key>
			<string>group-policy list</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>26B7B094-1135-4D44-9C83-4A44BF60676A</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>32F87F30-C084-443C-8A7F-43B9F5588E2A</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>3477EA17-4B07-418B-B4D8-B4D74D4ECF96</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>3D011412-96FD-4B01-A35D-5DF525CE08A6</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>5468E8DA-D6EE-46E4-B944-F358BFBB350A</key>
		<dict>
			<key>note</key>
			<string>Policy Groups</string>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>55101303-A2F4-4FCE-8085-F6E1E1CEDE14</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>6620B43C-63DB-4DCE-99DD-3A1C57604DDA</key>
		<dict>
			<key>note</key>
			<string>dns</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>672241DA-A742-4C25-8736-D929FC69A4E5</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>7AF3CA13-DA2D-4D97-B5A7-E4EC8D4107F3</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>7C07A059-1788-425B-B78F-E0E083008564</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>7F8E5ABB-8E12-4EE8-A537-9C6C8884222A</key>
		<dict>
			<key>note</key>
			<string>DNS mode</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>82C5845C-72B1-4A59-8F88-A73D1A4C77E4</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>A205BD55-D9B0-44B8-A796-D824FF9D0CD5</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>A700346D-23C4-4082-B08E-5310676FC7B1</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>A8B7F4BE-AC75-4422-824F-24CE3504A736</key>
		<dict>
			<key>note</key>
			<string>Toogle Rule Selected</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1215</real>
		</dict>
		<key>B53E08CC-23B2-4106-BDA3-E59F7963BB1C</key>
		<dict>
			<key>note</key>
			<string>warning for turn on http-api</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>BBB56AB5-5DF6-4763-8504-006F8B6066C9</key>
		<dict>
			<key>note</key>
			<string>do something</string>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>CAC75DC7-4E03-47F4-9C88-B75709EC6D23</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D7FC2694-B93F-4F59-A2DF-BB59ACDA7200</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D8F3DDB1-79D5-455B-BF8C-022F6FBFECB7</key>
		<dict>
			<key>note</key>
			<string>outbound mode</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>E78945D3-3452-4A45-A0B8-2A46BACB37B7</key>
		<dict>
			<key>note</key>
			<string>Rules</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>1215</real>
		</dict>
		<key>E9460C86-1ECB-4B7A-AC26-9E3C9217A842</key>
		<dict>
			<key>note</key>
			<string>module</string>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>examplekey@127.0.0.1:6171</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>开启Surge API支持</string>
			<key>label</key>
			<string>HTTP API</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HTTP_API</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>配置文件所在位置</string>
			<key>label</key>
			<string>File Location</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CONF_FILE_LOCATION</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.21</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/surge</string>
</dict>
</plist>
