<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.medium</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>05887F0C-F263-4DB5-9D60-D5569295F1D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC19A4F5-AA5C-4F12-9C64-1D3B617DF2E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F99A061-C264-4609-9A9A-CCB68E7A9996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0C8B68C-727B-40D3-B4A5-37DEF20D5B2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D420D81-40D8-4789-9F1B-7004E69F7739</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43107DD7-0973-4C3B-BEC8-13AF81830CC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>43A6A3D6-DC5E-4A6B-8524-3042F76124A4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7B84DA3-DBA0-4EC4-A3CD-0CD14C7B7D82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43107DD7-0973-4C3B-BEC8-13AF81830CC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9776069D-A0A9-4FDE-92C8-20546349DE5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9776069D-A0A9-4FDE-92C8-20546349DE5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA367EB7-EBFF-44A1-8850-338540687F1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0C8B68C-727B-40D3-B4A5-37DEF20D5B2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED5D79E1-9B45-4C44-A863-51A1612D72E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A33E5396-98F6-42B8-B299-23B86CA83F65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F99A061-C264-4609-9A9A-CCB68E7A9996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7B84DA3-DBA0-4EC4-A3CD-0CD14C7B7D82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05887F0C-F263-4DB5-9D60-D5569295F1D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA367EB7-EBFF-44A1-8850-338540687F1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7B84DA3-DBA0-4EC4-A3CD-0CD14C7B7D82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED5D79E1-9B45-4C44-A863-51A1612D72E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1D1F74E-B1C8-448C-AC86-864BC2D6995F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC19A4F5-AA5C-4F12-9C64-1D3B617DF2E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9CD77C6-0904-4696-903F-1CCB7D5EEFF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>using Medium’s API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Medium Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://medium.com/me/settings</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F1D1F74E-B1C8-448C-AC86-864BC2D6995F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Will jump to the Medium page...</string>
				<key>title</key>
				<string>You should set the token first</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0C8B68C-727B-40D3-B4A5-37DEF20D5B2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>ED5D79E1-9B45-4C44-A863-51A1612D72E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge8043a</string>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>name</key>
				<string>Medium Deploy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A33E5396-98F6-42B8-B299-23B86CA83F65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./author.js $TOKEN</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43107DD7-0973-4C3B-BEC8-13AF81830CC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
tell application id "com.runningwithcrayons.Alfred" to set configuration "AUTHOR_ID" to value "{query}" in workflow "cn.alanhe.medium"
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA367EB7-EBFF-44A1-8850-338540687F1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9776069D-A0A9-4FDE-92C8-20546349DE5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:TOKEN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4D420D81-40D8-4789-9F1B-7004E69F7739</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:AUTHOR_ID}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>43A6A3D6-DC5E-4A6B-8524-3042F76124A4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F99A061-C264-4609-9A9A-CCB68E7A9996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Will jump to the Medium page...</string>
				<key>title</key>
				<string>Successfully published!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>05887F0C-F263-4DB5-9D60-D5569295F1D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js $TOKEN $AUTHOR_ID "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7B84DA3-DBA0-4EC4-A3CD-0CD14C7B7D82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://medium.com/me/stories/drafts</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E9CD77C6-0904-4696-903F-1CCB7D5EEFF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>FC19A4F5-AA5C-4F12-9C64-1D3B617DF2E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Easy publish medium post

## usage
1. custom publishStatus
2. trigger file action to publish


## Requirement

- Node</string>
	<key>uidata</key>
	<dict>
		<key>05887F0C-F263-4DB5-9D60-D5569295F1D5</key>
		<dict>
			<key>note</key>
			<string>Successfully published</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>1F99A061-C264-4609-9A9A-CCB68E7A9996</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>43107DD7-0973-4C3B-BEC8-13AF81830CC6</key>
		<dict>
			<key>note</key>
			<string>author_id missing</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>9776069D-A0A9-4FDE-92C8-20546349DE5C</key>
		<dict>
			<key>note</key>
			<string>remove line break</string>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>A0C8B68C-727B-40D3-B4A5-37DEF20D5B2A</key>
		<dict>
			<key>note</key>
			<string>token missing</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>A33E5396-98F6-42B8-B299-23B86CA83F65</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A7B84DA3-DBA0-4EC4-A3CD-0CD14C7B7D82</key>
		<dict>
			<key>note</key>
			<string>just post</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>BA367EB7-EBFF-44A1-8850-338540687F1B</key>
		<dict>
			<key>note</key>
			<string>save environment variable</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E9CD77C6-0904-4696-903F-1CCB7D5EEFF6</key>
		<dict>
			<key>note</key>
			<string>jump to medium</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>ED5D79E1-9B45-4C44-A863-51A1612D72E1</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F1D1F74E-B1C8-448C-AC86-864BC2D6995F</key>
		<dict>
			<key>note</key>
			<string>set token in variable</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>FC19A4F5-AA5C-4F12-9C64-1D3B617DF2E4</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>AUTHOR_ID</key>
		<string></string>
		<key>TOKEN</key>
		<string></string>
		<key>publishStatus</key>
		<string>public</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>AUTHOR_ID</string>
		<string>TOKEN</string>
	</array>
	<key>version</key>
	<string>1.4</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
