<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.bluetooth</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2E00016A-4E8C-43F0-BFD3-6CF97DAF705D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC42B42F-F309-46DD-A47D-217A0A3AD0A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>832C0E51-F875-4F3D-A35D-F1E97C20F727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9837B9A6-8571-4EC3-BF4F-903D94858783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D207E95-E1FA-4B46-A459-CFB0711ACA46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>957236BC-77F5-4EE7-BE5E-835F359364D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>957236BC-77F5-4EE7-BE5E-835F359364D6</key>
		<array/>
		<key>9837B9A6-8571-4EC3-BF4F-903D94858783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD6CBA70-E875-425B-98E0-A31BBFAC566B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC42B42F-F309-46DD-A47D-217A0A3AD0A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E636B4F9-5B0F-474B-8CD1-686DDAADAD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD6CBA70-E875-425B-98E0-A31BBFAC566B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D207E95-E1FA-4B46-A459-CFB0711ACA46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E636B4F9-5B0F-474B-8CD1-686DDAADAD09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9837B9A6-8571-4EC3-BF4F-903D94858783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>791991C0-DB9A-457D-AFA1-9F7FB395D10A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>832C0E51-F875-4F3D-A35D-F1E97C20F727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Connect and disconnect a bluetooth device easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blue</string>
				<key>subtext</key>
				<string>Connect or disconnect a specific device</string>
				<key>text</key>
				<string>Bluetooth: Connect a specific device</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E00016A-4E8C-43F0-BFD3-6CF97DAF705D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node pre-check.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC42B42F-F309-46DD-A47D-217A0A3AD0A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>791991C0-DB9A-457D-AFA1-9F7FB395D10A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E636B4F9-5B0F-474B-8CD1-686DDAADAD09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ''</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9837B9A6-8571-4EC3-BF4F-903D94858783</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices</string>
				<key>script</key>
				<string>/usr/local/bin/node list.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Connect or disconnect a specific device</string>
				<key>title</key>
				<string>Bluetooth: Connect a specific device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD6CBA70-E875-425B-98E0-A31BBFAC566B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bluetooth Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>957236BC-77F5-4EE7-BE5E-835F359364D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node connect.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D207E95-E1FA-4B46-A459-CFB0711ACA46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Bluetooth turned on</string>
				<key>title</key>
				<string>Bluetooth Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>832C0E51-F875-4F3D-A35D-F1E97C20F727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>First run this command on a terminal:

brew install blueutil

brew cask install hammerspoon

cp init.lua ~/.hammerspoon/

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash

nvm install 10</string>
	<key>uidata</key>
	<dict>
		<key>2E00016A-4E8C-43F0-BFD3-6CF97DAF705D</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>832C0E51-F875-4F3D-A35D-F1E97C20F727</key>
		<dict>
			<key>note</key>
			<string>notice user,bluetooth opened</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>8D207E95-E1FA-4B46-A459-CFB0711ACA46</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>957236BC-77F5-4EE7-BE5E-835F359364D6</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>9837B9A6-8571-4EC3-BF4F-903D94858783</key>
		<dict>
			<key>note</key>
			<string>clear input</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>DC42B42F-F309-46DD-A47D-217A0A3AD0A1</key>
		<dict>
			<key>note</key>
			<string>precheck bluetooth status</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>DD6CBA70-E875-425B-98E0-A31BBFAC566B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. bluetooth is off,so auto turn on it
2. list devices</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>E636B4F9-5B0F-474B-8CD1-686DDAADAD09</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
