<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.qr-reader</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>17D0B3FC-09CC-4EDF-BA00-CDB6EB563DDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19DF2D89-4A46-428A-B981-663F504B5F3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85849FE1-713B-4913-9D7C-CE9F40A31677</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D9AB402-220E-48E3-83F6-3873457CB483</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0D382D5-DC42-4DFB-9754-E64DABBFEE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43FA5FDD-33C5-4580-850C-572FA1219020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F782624-41DE-42C0-9B0A-F88AA619E878</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4939D389-798F-459F-AF4A-B63F64D1B110</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BC49598-7306-44DA-A7F8-6239C5F03C8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>498B32F7-777D-4970-B05C-FAEBBC07B17D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43FA5FDD-33C5-4580-850C-572FA1219020</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E6EDCC5-121B-4DEE-BD30-A376EEE182A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D9AB402-220E-48E3-83F6-3873457CB483</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A622AFF9-9BD5-4CB1-A1FF-1B71D5E8290A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BC49598-7306-44DA-A7F8-6239C5F03C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F782624-41DE-42C0-9B0A-F88AA619E878</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19DF2D89-4A46-428A-B981-663F504B5F3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85849FE1-713B-4913-9D7C-CE9F40A31677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E6EDCC5-121B-4DEE-BD30-A376EEE182A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F72C2E1-8E95-4502-B72A-7D8BD25A6013</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>396ED28E-3487-4E3C-8E7F-759EABCF9343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEFB7290-B340-4751-A973-E44C0161765A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19DF2D89-4A46-428A-B981-663F504B5F3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0D382D5-DC42-4DFB-9754-E64DABBFEE70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6206D6F7-3F76-4DC9-868F-8321C4E306B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Read QR Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QR Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>zbarimg</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>17D0B3FC-09CC-4EDF-BA00-CDB6EB563DDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>zbarimg</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6206D6F7-3F76-4DC9-868F-8321C4E306B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>QR Reader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AEFB7290-B340-4751-A973-E44C0161765A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>zbarimg "$1" -q</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>qrcode_pic_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>19DF2D89-4A46-428A-B981-663F504B5F3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>newPic="$alfred_workflow_cache/screenshot2.jpg"
convert "$qrcode_pic_path" -negate "$newPic"
echo -n $newPic</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0D382D5-DC42-4DFB-9754-E64DABBFEE70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_reversed</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D9AB402-220E-48E3-83F6-3873457CB483</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set workflowCache to (system attribute "alfred_workflow_cache")

set cacheFolderPath to POSIX path of workflowCache

tell application "System Events"
    if not (exists folder cacheFolderPath) then
        do shell script "mkdir " &amp; quoted form of cacheFolderPath
    end if
end tell


set the savePath to cacheFolderPath &amp; "/screenshot.png"


do shell script "rm -f " &amp; quoted form of savePath
do shell script "screencapture -i " &amp; (quoted form of POSIX path of savePath)

return savePath</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43FA5FDD-33C5-4580-850C-572FA1219020</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qr</string>
				<key>subtext</key>
				<string>Read QR Code from the screen</string>
				<key>text</key>
				<string>QR Reader</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>498B32F7-777D-4970-B05C-FAEBBC07B17D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_reversed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A622AFF9-9BD5-4CB1-A1FF-1B71D5E8290A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4E6EDCC5-121B-4DEE-BD30-A376EEE182A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7F782624-41DE-42C0-9B0A-F88AA619E878</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>QR-Code:</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6BC49598-7306-44DA-A7F8-6239C5F03C8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0F72C2E1-8E95-4502-B72A-7D8BD25A6013</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>85849FE1-713B-4913-9D7C-CE9F40A31677</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Invalid QR Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>396ED28E-3487-4E3C-8E7F-759EABCF9343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Read link from QR Code.

## Usage

1. Invoke the keyword 'qr', drag and drop a screenshot, and it will automatically read link.
2. Select a QR code image file, invoke File Action, and select QR reader to read link.


## Requirement

1. `brew install zbar`
2. `brew install imagemagick`
3. Alfred has permission of Screen Recording.</string>
	<key>uidata</key>
	<dict>
		<key>17D0B3FC-09CC-4EDF-BA00-CDB6EB563DDD</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>19DF2D89-4A46-428A-B981-663F504B5F3E</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1D9AB402-220E-48E3-83F6-3873457CB483</key>
		<dict>
			<key>note</key>
			<string>save</string>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>396ED28E-3487-4E3C-8E7F-759EABCF9343</key>
		<dict>
			<key>xpos</key>
			<real>1075</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>43FA5FDD-33C5-4580-850C-572FA1219020</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4939D389-798F-459F-AF4A-B63F64D1B110</key>
		<dict>
			<key>note</key>
			<string>zbarimg</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>498B32F7-777D-4970-B05C-FAEBBC07B17D</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4E6EDCC5-121B-4DEE-BD30-A376EEE182A5</key>
		<dict>
			<key>note</key>
			<string>check reversed</string>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>6206D6F7-3F76-4DC9-868F-8321C4E306B6</key>
		<dict>
			<key>xpos</key>
			<real>1555</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>6BC49598-7306-44DA-A7F8-6239C5F03C8C</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>7F782624-41DE-42C0-9B0A-F88AA619E878</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>85849FE1-713B-4913-9D7C-CE9F40A31677</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>AEFB7290-B340-4751-A973-E44C0161765A</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</key>
		<dict>
			<key>xpos</key>
			<real>1335</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>F0D382D5-DC42-4DFB-9754-E64DABBFEE70</key>
		<dict>
			<key>note</key>
			<string>reverse pic</string>
			<key>xpos</key>
			<real>1340</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/qr-reader</string>
</dict>
</plist>
