<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.qr-reader</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85849FE1-713B-4913-9D7C-CE9F40A31677</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43FA5FDD-33C5-4580-850C-572FA1219020</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F782624-41DE-42C0-9B0A-F88AA619E878</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4939D389-798F-459F-AF4A-B63F64D1B110</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>498B32F7-777D-4970-B05C-FAEBBC07B17D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43FA5FDD-33C5-4580-850C-572FA1219020</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F782624-41DE-42C0-9B0A-F88AA619E878</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85849FE1-713B-4913-9D7C-CE9F40A31677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0F72C2E1-8E95-4502-B72A-7D8BD25A6013</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>396ED28E-3487-4E3C-8E7F-759EABCF9343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEFB7290-B340-4751-A973-E44C0161765A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Read QR Code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QR Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Invalid QR Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.image</string>
				</array>
				<key>name</key>
				<string>QR Reader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AEFB7290-B340-4751-A973-E44C0161765A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># swift main.swift "$1"
./main "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4939D389-798F-459F-AF4A-B63F64D1B110</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set workflowCache to (system attribute "alfred_workflow_cache")

set cacheFolderPath to POSIX path of workflowCache

tell application "System Events"
    if not (exists folder cacheFolderPath) then
        do shell script "mkdir " &amp; quoted form of cacheFolderPath
    end if
end tell


set the savePath to cacheFolderPath &amp; "/screenshot.png"


tell application "Finder"
    if exists savePath then
        delete savePath
    end if
end tell

do shell script "screencapture -i " &amp; (quoted form of POSIX path of savePath)

return savePath</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43FA5FDD-33C5-4580-850C-572FA1219020</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qr</string>
				<key>subtext</key>
				<string>Read QR Code from the screen</string>
				<key>text</key>
				<string>QR Reader</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>498B32F7-777D-4970-B05C-FAEBBC07B17D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Failure</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0F72C2E1-8E95-4502-B72A-7D8BD25A6013</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>85849FE1-713B-4913-9D7C-CE9F40A31677</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7F782624-41DE-42C0-9B0A-F88AA619E878</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>396ED28E-3487-4E3C-8E7F-759EABCF9343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Read link from QR Code.

## Usage

1. Invoke the keyword 'qr', drag and drop a screenshot, and it will automatically read link.
2. Select a QR code image file, invoke File Action, and select QR reader to read link.


## Dependency

1. Alfred has permission of Screen Recording</string>
	<key>uidata</key>
	<dict>
		<key>1AD3E7E2-9E9C-4BDC-8C79-369F26762E87</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>396ED28E-3487-4E3C-8E7F-759EABCF9343</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>43FA5FDD-33C5-4580-850C-572FA1219020</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4939D389-798F-459F-AF4A-B63F64D1B110</key>
		<dict>
			<key>note</key>
			<string>swift</string>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>498B32F7-777D-4970-B05C-FAEBBC07B17D</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>7F782624-41DE-42C0-9B0A-F88AA619E878</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>85849FE1-713B-4913-9D7C-CE9F40A31677</key>
		<dict>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>AEFB7290-B340-4751-A973-E44C0161765A</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>EA9B8622-BBCD-4F80-9D87-C2841CBC013D</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.3</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
