<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.ocr</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>02490CE9-13B5-4DF2-8925-51959002C029</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EE38889-E5FF-4F8B-9808-748DFEEEACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>429A869E-BAA7-4EAB-BB5F-30B2D51D8E02</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1017A5FC-CE01-4FE6-982B-3E281E571C46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1017A5FC-CE01-4FE6-982B-3E281E571C46</key>
		<array/>
		<key>763B39BE-E24D-4449-A0E3-C2E2021623EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EE38889-E5FF-4F8B-9808-748DFEEEACD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA8077C-0313-4570-8753-BEA7E7026A7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02490CE9-13B5-4DF2-8925-51959002C029</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Get the text in the screenshot to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>OCR failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7FA8077C-0313-4570-8753-BEA7E7026A7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^error_msg</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9EE38889-E5FF-4F8B-9808-748DFEEEACD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"OCR-Default","arg":"CHN_ENG","subtitle":"中英文混合"},{"title":"OCR-ENG","arg":"ENG","subtitle":"英文"},{"title":"OCR-POR","arg":"POR","subtitle":"葡萄牙语"},{"title":"OCR-FRE","arg":"FRE","subtitle":"法语"},{"title":"OCR-GER","arg":"GER","subtitle":"德语"},{"title":"OCR-ITA","arg":"ITA","subtitle":"意大利语"},{"title":"OCR-SPA","arg":"SPA","subtitle":"西班牙语"},{"title":"OCR-RUS","arg":"RUS","subtitle":"俄语"},{"title":"OCR-JAP","arg":"JAP","subtitle":"日语"},{"title":"OCR-KOR","arg":"KOR","subtitle":"韩语"}]</string>
				<key>keyword</key>
				<string>ocr</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Get the text in the screenshot to the clipboard</string>
				<key>title</key>
				<string>OCR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>763B39BE-E24D-4449-A0E3-C2E2021623EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/pngpaste ./temp.png

/usr/local/bin/node ./index.js $APP_ID $API_KEY $SECRET_KEY {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^error_msg</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>429A869E-BAA7-4EAB-BB5F-30B2D51D8E02</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>02490CE9-13B5-4DF2-8925-51959002C029</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>OCR to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1017A5FC-CE01-4FE6-982B-3E281E571C46</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get the text in the screenshot to the clipboard

First run this command on a terminal:

1. brew install pngpaste
2. npm install baidu-aip-sdk -g</string>
	<key>uidata</key>
	<dict>
		<key>02490CE9-13B5-4DF2-8925-51959002C029</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>1017A5FC-CE01-4FE6-982B-3E281E571C46</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>763B39BE-E24D-4449-A0E3-C2E2021623EC</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7FA8077C-0313-4570-8753-BEA7E7026A7B</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>9EE38889-E5FF-4F8B-9808-748DFEEEACD8</key>
		<dict>
			<key>note</key>
			<string>drop error msg prefix</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C0F55B7B-E2B9-4FF2-972C-E1E1FEC24322</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>C67E2790-A8FC-4FBC-8FE7-2A5CD9D012ED</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>API_KEY</key>
		<string>T239ORnllCtLAPlbqum5UQSB</string>
		<key>APP_ID</key>
		<string>20034870</string>
		<key>SECRET_KEY</key>
		<string>8K5jaGZ6MMxgjwf9VGHc9oUZXRMFCIOX</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
