<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.batch-import</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>567637F0-9619-4E50-AA44-2044687F3FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>550EA28F-31DD-4515-92F3-D0F1CB621FF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B1C6BD5B-847D-47DF-A804-6963DC261FCA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>724E6A67-A811-4F5D-9F6B-443291C62660</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C2FA6A1-84B1-4037-8C84-63A20AA61FAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF84B031-B90D-47EC-B51D-C4BB7CE88AFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF84B031-B90D-47EC-B51D-C4BB7CE88AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>567637F0-9619-4E50-AA44-2044687F3FF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>import workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Batch Import Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Import Success!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>550EA28F-31DD-4515-92F3-D0F1CB621FF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF84B031-B90D-47EC-B51D-C4BB7CE88AFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Batch Import Workflows</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6C2FA6A1-84B1-4037-8C84-63A20AA61FAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^0</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B1C6BD5B-847D-47DF-A804-6963DC261FCA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>567637F0-9619-4E50-AA44-2044687F3FF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No valid workflow file</string>
				<key>title</key>
				<string>Import Fail!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>724E6A67-A811-4F5D-9F6B-443291C62660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Select the folder and import workflows in batches

## install
- NodeJS</string>
	<key>uidata</key>
	<dict>
		<key>550EA28F-31DD-4515-92F3-D0F1CB621FF2</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>567637F0-9619-4E50-AA44-2044687F3FF2</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>6C2FA6A1-84B1-4037-8C84-63A20AA61FAA</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>724E6A67-A811-4F5D-9F6B-443291C62660</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>DF84B031-B90D-47EC-B51D-C4BB7CE88AFF</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
