<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.prefpanes</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>012416E0-D3F7-4F47-B748-12FE6DC2833E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>060176DC-38BB-479E-B536-8DD29C0811D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>098496B2-9FC5-45A3-A54C-830CB04DEB11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A23EAC9D-14E2-43BE-91FA-E93EFB51B05A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D2B8F7C-2EA0-4C95-83D5-77D56C7BE5C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFF55B71-9073-4AA2-8236-07247644D581</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14F31181-91DE-4A50-AFEF-16D922024128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>211B9708-2FEE-4F88-82C2-3EF6F4EADD4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8F8F9E9-5C7C-489A-8B28-B6D3189299F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21AF7132-826C-48DF-A023-3C0E24064377</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24BD2C86-8E08-48F6-A95D-39F22627BE96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1AC903E-F790-4486-9275-4702544BD08E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2739207C-A263-4FBD-A4E3-E1C7891D9DC1</key>
		<array/>
		<key>3C12B6CB-1F2D-458D-B52D-99A7E8352E0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>012416E0-D3F7-4F47-B748-12FE6DC2833E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40E439BD-5B0E-484B-9132-20CA8E3D7689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0396A23-C7F8-4E73-ACFA-587CDF10815E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4274EFAC-E0CC-4DCB-B37C-77278CE702F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14F31181-91DE-4A50-AFEF-16D922024128</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B8CD541-E553-49CD-AF2E-AE2B83996444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21AF7132-826C-48DF-A023-3C0E24064377</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BB8FE3A-940B-4D94-AB99-89DA7A620CBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>822E9E96-8A6A-45E4-8208-DB12CA8D94AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA17A143-1642-4602-9B15-C299A28C62EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2739207C-A263-4FBD-A4E3-E1C7891D9DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>27F61507-9A94-4D9D-A5E8-5270D78A1662</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FADCAF7-15C0-4D4B-B599-766C127D304C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A4DB646-8531-4E78-94D3-2040ED448E65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>060176DC-38BB-479E-B536-8DD29C0811D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9900958A-F973-4806-A2CA-7FD7A935688B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FADCAF7-15C0-4D4B-B599-766C127D304C</key>
		<array/>
		<key>A23EAC9D-14E2-43BE-91FA-E93EFB51B05A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE85AC6A-215A-48E6-A9FA-89D97951C30B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BB8FE3A-940B-4D94-AB99-89DA7A620CBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFF55B71-9073-4AA2-8236-07247644D581</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAE03D2C-8CE8-4C91-8163-8DA973426A6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE876256-E78F-468E-8BA4-E1ADA8F14C5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0396A23-C7F8-4E73-ACFA-587CDF10815E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1AC903E-F790-4486-9275-4702544BD08E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBCC3691-6BB2-45D9-AAF1-E51CB80213C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC31B7DF-B899-4E5A-9303-B08300A7A9C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9900958A-F973-4806-A2CA-7FD7A935688B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD081A2B-BB24-4D87-BD93-E3AE3054C3CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA17A143-1642-4602-9B15-C299A28C62EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE876256-E78F-468E-8BA4-E1ADA8F14C5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF402752-033C-4183-B9AF-0D35CB3F6266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E00B1237-AF84-4214-B363-B691F7EF2A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEDC5D49-9A0B-42F6-B834-555F637B7DCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED0BC42E-531A-4ACC-8C18-D7A7CEFA20A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF402752-033C-4183-B9AF-0D35CB3F6266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71A0FAE-DFDF-4EEF-9927-B057FAD161B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBCC3691-6BB2-45D9-AAF1-E51CB80213C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71B6DA6-79A4-4730-9AC3-D508CE085B85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD081A2B-BB24-4D87-BD93-E3AE3054C3CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8F8F9E9-5C7C-489A-8B28-B6D3189299F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEDC5D49-9A0B-42F6-B834-555F637B7DCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Open macOS System Settings Panes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>System Settings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2739207C-A263-4FBD-A4E3-E1C7891D9DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>x-apple</string>
						<key>outputlabel</key>
						<string>URL</string>
						<key>uid</key>
						<string>27F61507-9A94-4D9D-A5E8-5270D78A1662</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>AppleScript</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>accessibility</string>
				<key>subtext</key>
				<string>System Settings → Accessibility</string>
				<key>text</key>
				<string>Accessibility</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E00B1237-AF84-4214-B363-B691F7EF2A0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.universalaccess</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FEDC5D49-9A0B-42F6-B834-555F637B7DCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set theQuery to item 1 of argv
	tell application "System Preferences"
		activate
		set the current pane to pane id theQuery
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FADCAF7-15C0-4D4B-B599-766C127D304C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>appleid</string>
				<key>subtext</key>
				<string>System Settings → AppleID</string>
				<key>text</key>
				<string>AppleID</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>098496B2-9FC5-45A3-A54C-830CB04DEB11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preferences.AppleIDPrefPane</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A23EAC9D-14E2-43BE-91FA-E93EFB51B05A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>battery</string>
				<key>subtext</key>
				<string>System Settings → Battery</string>
				<key>text</key>
				<string>Battery</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8A4DB646-8531-4E78-94D3-2040ED448E65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.battery</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>060176DC-38BB-479E-B536-8DD29C0811D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mission control</string>
				<key>subtext</key>
				<string>System Settings → Mission Control</string>
				<key>text</key>
				<string>Mission Control</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE85AC6A-215A-48E6-A9FA-89D97951C30B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>com.apple.preference.expose</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7BB8FE3A-940B-4D94-AB99-89DA7A620CBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extensions</string>
				<key>subtext</key>
				<string>System Settings → Privacy &amp; Security → Extensions</string>
				<key>text</key>
				<string>Extensions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24BD2C86-8E08-48F6-A95D-39F22627BE96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>com.apple.preferences.extensions</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1AC903E-F790-4486-9275-4702544BD08E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>family</string>
				<key>subtext</key>
				<string>System Settings → Family</string>
				<key>text</key>
				<string>Family</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40E439BD-5B0E-484B-9132-20CA8E3D7689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preferences.FamilySharingPrefPane</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C0396A23-C7F8-4E73-ACFA-587CDF10815E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string>System Settings → Focus</string>
				<key>text</key>
				<string>Focus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4274EFAC-E0CC-4DCB-B37C-77278CE702F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.notifications?Focus</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>14F31181-91DE-4A50-AFEF-16D922024128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>com.apple.preference.general</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21AF7132-826C-48DF-A023-3C0E24064377</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>general</string>
				<key>subtext</key>
				<string>System Settings → General</string>
				<key>text</key>
				<string>General</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7B8CD541-E553-49CD-AF2E-AE2B83996444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>language and region</string>
				<key>subtext</key>
				<string>System Settings → General → Language &amp; Region</string>
				<key>text</key>
				<string>Language &amp; Region</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC31B7DF-B899-4E5A-9303-B08300A7A9C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.Localization</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9900958A-F973-4806-A2CA-7FD7A935688B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>privacy and security</string>
				<key>subtext</key>
				<string>System Settings → Privacy &amp; Security</string>
				<key>text</key>
				<string>Privacy &amp; Security</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED0BC42E-531A-4ACC-8C18-D7A7CEFA20A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.security</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DF402752-033C-4183-B9AF-0D35CB3F6266</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screen saver</string>
				<key>subtext</key>
				<string>System Settings → Screen Saver</string>
				<key>text</key>
				<string>Screen Saver</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>822E9E96-8A6A-45E4-8208-DB12CA8D94AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>com.apple.preference.desktopscreeneffect</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA17A143-1642-4602-9B15-C299A28C62EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screen time</string>
				<key>subtext</key>
				<string>System Settings → Screen Time</string>
				<key>text</key>
				<string>Screen Time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3C12B6CB-1F2D-458D-B52D-99A7E8352E0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.screentime</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>012416E0-D3F7-4F47-B748-12FE6DC2833E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sharing</string>
				<key>subtext</key>
				<string>System Settings → General → Sharing</string>
				<key>text</key>
				<string>Sharing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F71A0FAE-DFDF-4EEF-9927-B057FAD161B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preferences.sharing</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CBCC3691-6BB2-45D9-AAF1-E51CB80213C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>siri and spotlight</string>
				<key>subtext</key>
				<string>System Settings → Siri &amp; Spotlight</string>
				<key>text</key>
				<string>Siri &amp; Spotlight</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F71B6DA6-79A4-4730-9AC3-D508CE085B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preference.speech</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD081A2B-BB24-4D87-BD93-E3AE3054C3CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>software update</string>
				<key>subtext</key>
				<string>System Settings → General → Software Update</string>
				<key>text</key>
				<string>Software Update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D2B8F7C-2EA0-4C95-83D5-77D56C7BE5C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preferences.softwareupdate</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AFF55B71-9073-4AA2-8236-07247644D581</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>touch id and password</string>
				<key>subtext</key>
				<string>System Settings → Touch ID &amp; Password</string>
				<key>text</key>
				<string>Touch ID &amp; Password</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BAE03D2C-8CE8-4C91-8163-8DA973426A6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>x-apple.systempreferences:com.apple.preferences.password</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DE876256-E78F-468E-8BA4-E1ADA8F14C5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>users and groups</string>
				<key>subtext</key>
				<string>System Settings → Users &amp; Groups</string>
				<key>text</key>
				<string>Users &amp; Groups</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>211B9708-2FEE-4F88-82C2-3EF6F4EADD4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>com.apple.preferences.users</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F8F8F9E9-5C7C-489A-8B28-B6D3189299F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; tested on macOS Monterey 12.4

## usage
Open System Settings panes via the workflow’s keywords: accessibility, appleid, battery, control centre, date and time and so on`


## macOS 13 Ventura
just download https://github.com/alfredapp/system-settings-workflow

## thanks
1. https://github.com/alfredapp/system-settings-workflow
2. https://github.com/Stephen-Lon/Alfred-workflow-Open-macOS-12-pref-panes/</string>
	<key>uidata</key>
	<dict>
		<key>012416E0-D3F7-4F47-B748-12FE6DC2833E</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1725</real>
		</dict>
		<key>060176DC-38BB-479E-B536-8DD29C0811D0</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>098496B2-9FC5-45A3-A54C-830CB04DEB11</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>0D2B8F7C-2EA0-4C95-83D5-77D56C7BE5C3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>2055</real>
		</dict>
		<key>14F31181-91DE-4A50-AFEF-16D922024128</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>211B9708-2FEE-4F88-82C2-3EF6F4EADD4B</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>2325</real>
		</dict>
		<key>21AF7132-826C-48DF-A023-3C0E24064377</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>24BD2C86-8E08-48F6-A95D-39F22627BE96</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>2739207C-A263-4FBD-A4E3-E1C7891D9DC1</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3C12B6CB-1F2D-458D-B52D-99A7E8352E0A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1695</real>
		</dict>
		<key>40E439BD-5B0E-484B-9132-20CA8E3D7689</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>4274EFAC-E0CC-4DCB-B37C-77278CE702F2</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>7B8CD541-E553-49CD-AF2E-AE2B83996444</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>1040</real>
		</dict>
		<key>7BB8FE3A-940B-4D94-AB99-89DA7A620CBD</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>822E9E96-8A6A-45E4-8208-DB12CA8D94AF</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1575</real>
		</dict>
		<key>8A3375B0-5B3C-4C0F-9446-946DDDD44B93</key>
		<dict>
			<key>note</key>
			<string>If the input is x-apple.* use the Open URL action to open the pane otherwise use AppleScript</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8A4DB646-8531-4E78-94D3-2040ED448E65</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>9900958A-F973-4806-A2CA-7FD7A935688B</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>9FADCAF7-15C0-4D4B-B599-766C127D304C</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A23EAC9D-14E2-43BE-91FA-E93EFB51B05A</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>AE85AC6A-215A-48E6-A9FA-89D97951C30B</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>AFF55B71-9073-4AA2-8236-07247644D581</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>2085</real>
		</dict>
		<key>BAE03D2C-8CE8-4C91-8163-8DA973426A6B</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>2195</real>
		</dict>
		<key>C0396A23-C7F8-4E73-ACFA-587CDF10815E</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>C1AC903E-F790-4486-9275-4702544BD08E</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>CBCC3691-6BB2-45D9-AAF1-E51CB80213C2</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1845</real>
		</dict>
		<key>CC31B7DF-B899-4E5A-9303-B08300A7A9C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>CD081A2B-BB24-4D87-BD93-E3AE3054C3CB</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1965</real>
		</dict>
		<key>DA17A143-1642-4602-9B15-C299A28C62EB</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1605</real>
		</dict>
		<key>DE876256-E78F-468E-8BA4-E1ADA8F14C5C</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>2225</real>
		</dict>
		<key>DF402752-033C-4183-B9AF-0D35CB3F6266</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>1460</real>
		</dict>
		<key>E00B1237-AF84-4214-B363-B691F7EF2A0B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>ED0BC42E-531A-4ACC-8C18-D7A7CEFA20A5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1430</real>
		</dict>
		<key>F71A0FAE-DFDF-4EEF-9927-B057FAD161B7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1815</real>
		</dict>
		<key>F71B6DA6-79A4-4730-9AC3-D508CE085B85</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1935</real>
		</dict>
		<key>F8F8F9E9-5C7C-489A-8B28-B6D3189299F6</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>2355</real>
		</dict>
		<key>FEDC5D49-9A0B-42F6-B834-555F637B7DCA</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
