<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.appid</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>42BBB04B-30C5-49D2-AFA8-D24B9C9FB417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79EAF480-9E98-4ED6-A0BC-7162FC442749</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56E911C8-B422-41A5-B703-DBA1649E1DA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7A8FF94-E45E-4FD4-BA1A-11237326A0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778BD714-0E96-4EA4-A4FD-751D05C92D2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7E96C4B-C158-4A5C-9D3A-7C6C37A6557D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A48CE873-8369-400F-9DFA-5526A5D9C90C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42BBB04B-30C5-49D2-AFA8-D24B9C9FB417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7A8FF94-E45E-4FD4-BA1A-11237326A0E1</key>
		<array/>
		<key>D7E96C4B-C158-4A5C-9D3A-7C6C37A6557D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7A8FF94-E45E-4FD4-BA1A-11237326A0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79EAF480-9E98-4ED6-A0BC-7162FC442749</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Show ID of installed apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppID</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D7A8FF94-E45E-4FD4-BA1A-11237326A0E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>appid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting Bundle ID of apps in /Applications…</string>
				<key>script</key>
				<string>require 'json'
require 'open3'
require 'pathname'

apps = Pathname('/Applications').children
         .concat(Pathname('/Applications/Utilities').children)
         .map(&amp;:to_path)
         .sort_by { |p| File.basename(p).downcase }
         .select { |e| e.end_with?('.app') }

script_filter_items = []

apps.each do |app|
  appId = Open3.capture2("osascript -e 'id of app \"#{app}\"'").first
  next if appId == '(null)'
  name = File.basename(app, '.app')
  script_filter_items.push(title: name, subtitle: appId, arg: appId, icon: { type: 'fileicon', path: app })
end

puts({ items: script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show App ID of installed apps</string>
				<key>title</key>
				<string>AppID</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56E911C8-B422-41A5-B703-DBA1649E1DA1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>79EAF480-9E98-4ED6-A0BC-7162FC442749</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'id of app "{query}"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7E96C4B-C158-4A5C-9D3A-7C6C37A6557D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>App ID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>778BD714-0E96-4EA4-A4FD-751D05C92D2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'name of app "{query}"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42BBB04B-30C5-49D2-AFA8-D24B9C9FB417</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>App Name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A48CE873-8369-400F-9DFA-5526A5D9C90C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Getting Bundle ID of apps

## usage

1. `av` to get Bundle ID of apps
2. Universal action support
	- `App ID` get id of app
    - `App Name` get name of app</string>
	<key>uidata</key>
	<dict>
		<key>42BBB04B-30C5-49D2-AFA8-D24B9C9FB417</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>56E911C8-B422-41A5-B703-DBA1649E1DA1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>778BD714-0E96-4EA4-A4FD-751D05C92D2D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>79EAF480-9E98-4ED6-A0BC-7162FC442749</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A48CE873-8369-400F-9DFA-5526A5D9C90C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>D7A8FF94-E45E-4FD4-BA1A-11237326A0E1</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>D7E96C4B-C158-4A5C-9D3A-7C6C37A6557D</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
