<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.git-code</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>2BE29A0E-B934-4CB3-B196-46DEFD5F8F24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845C97B3-4EF6-48FC-8245-A90AF2F96C70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>935119A8-8D36-4251-B83E-DE68FE581EFD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30CD93A9-33D6-4A7A-951A-55D05CB6CE6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42312DC7-F660-4E68-9D7C-88091E1CECF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62020450-80F3-431B-B648-969B059702EE</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>⏎ to Copy HTTP URL: {query}.git</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6CE09F6A-FAA4-4651-8DBB-41F21EEA8068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30CD93A9-33D6-4A7A-951A-55D05CB6CE6B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AEBE2BF-BFAC-4DA3-95D4-2A3238908144</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Overview</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62020450-80F3-431B-B648-969B059702EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30CD93A9-33D6-4A7A-951A-55D05CB6CE6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>845C97B3-4EF6-48FC-8245-A90AF2F96C70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CE09F6A-FAA4-4651-8DBB-41F21EEA8068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AEBE2BF-BFAC-4DA3-95D4-2A3238908144</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BE29A0E-B934-4CB3-B196-46DEFD5F8F24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>935119A8-8D36-4251-B83E-DE68FE581EFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845C97B3-4EF6-48FC-8245-A90AF2F96C70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DD760E5C-E081-487A-A32F-26C235B53760</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1311193-4E0A-496C-B58C-377CA7ED67EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C763BFDE-BA2B-492A-A195-AB3F8AA39A8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14CEF865-8E34-46F4-B4CF-A1C05377F746</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1311193-4E0A-496C-B58C-377CA7ED67EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7F469D8-9AFB-458B-91D7-149BF973BB8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7F469D8-9AFB-458B-91D7-149BF973BB8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CE09F6A-FAA4-4651-8DBB-41F21EEA8068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>TGit Search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Git Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}.git</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>62020450-80F3-431B-B648-969B059702EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>search project</string>
				<key>title</key>
				<string>Git Drone</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6CE09F6A-FAA4-4651-8DBB-41F21EEA8068</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42312DC7-F660-4E68-9D7C-88091E1CECF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>30CD93A9-33D6-4A7A-951A-55D05CB6CE6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8AEBE2BF-BFAC-4DA3-95D4-2A3238908144</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:baseUrl}/{var:projectName}/{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>845C97B3-4EF6-48FC-8245-A90AF2F96C70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Merge Request","arg":"merge_requests"},{"title":"Issues","arg":"issues"},{"title":"Archive project","arg":"archive_project"}]</string>
				<key>keyword</key>
				<string>cview</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2BE29A0E-B934-4CB3-B196-46DEFD5F8F24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cmr</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting</string>
				<key>script</key>
				<string>/usr/local/bin/node ./merge-requests.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7F469D8-9AFB-458B-91D7-149BF973BB8A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>issues</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>DD760E5C-E081-487A-A32F-26C235B53760</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>merge_requests</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>C763BFDE-BA2B-492A-A195-AB3F8AA39A8B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>935119A8-8D36-4251-B83E-DE68FE581EFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D1311193-4E0A-496C-B58C-377CA7ED67EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./do.js {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14CEF865-8E34-46F4-B4CF-A1C05377F746</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>腾讯工蜂项目检索

## feat

1. gc+关键词进行模糊检索
2. ⌃ 拷贝HTTP Repo链接/ ⌘ 拷贝SSH Repo链接
3. ⏎ 浏览器打开Repo地址
4. 最多支持2个工蜂服务配置，如果不需要第二个，去掉相关配置或者置空即可
5. ⌥ ⏎ 选择MR，再⌥ ⏎，显示repo打开的 Merge Request，同时支持关键词检索
6. 增加score权重设定，比如设置score_2=1，这样第二个工蜂服务项目可以优先排在前面，不设定，则默认为第一个项目列表在前
7. 一键拷贝所有MR链接

整体设计，⏎均是浏览器打开对应URL，⌥为进一步操作。</string>
	<key>uidata</key>
	<dict>
		<key>14CEF865-8E34-46F4-B4CF-A1C05377F746</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>2BE29A0E-B934-4CB3-B196-46DEFD5F8F24</key>
		<dict>
			<key>note</key>
			<string>overview</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>30CD93A9-33D6-4A7A-951A-55D05CB6CE6B</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>42312DC7-F660-4E68-9D7C-88091E1CECF8</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>62020450-80F3-431B-B648-969B059702EE</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6CE09F6A-FAA4-4651-8DBB-41F21EEA8068</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>845C97B3-4EF6-48FC-8245-A90AF2F96C70</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>8AEBE2BF-BFAC-4DA3-95D4-2A3238908144</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>935119A8-8D36-4251-B83E-DE68FE581EFD</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>D1311193-4E0A-496C-B58C-377CA7ED67EA</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>D7F469D8-9AFB-458B-91D7-149BF973BB8A</key>
		<dict>
			<key>note</key>
			<string>merge request list</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>access_token</key>
		<string></string>
		<key>access_token_2</key>
		<string></string>
		<key>base_url</key>
		<string></string>
		<key>base_url_2</key>
		<string></string>
		<key>mr_links_copy_text</key>
		<string></string>
		<key>per_page</key>
		<string>20</string>
		<key>score</key>
		<string></string>
		<key>score_2</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>base_url_2</string>
		<string>score</string>
		<string>base_url</string>
		<string>mr_links_copy_text</string>
		<string>score_2</string>
		<string>access_token</string>
		<string>access_token_2</string>
	</array>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
