<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.eudic</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1D4602C0-5DDC-4744-B79A-68E9A436D2BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31485C7-63E3-4813-A3F9-E0E024258066</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EED0387-482F-47F7-A529-41003C2A3AE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31485C7-63E3-4813-A3F9-E0E024258066</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57EE9397-9A0B-4798-87F8-4CED7C78E470</key>
		<array/>
		<key>606BB652-AE3A-4015-9DC4-215BBA26B042</key>
		<array/>
		<key>65E11D2E-FC2E-4B45-B58B-E5AF264BFAFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57EE9397-9A0B-4798-87F8-4CED7C78E470</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B31485C7-63E3-4813-A3F9-E0E024258066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>606BB652-AE3A-4015-9DC4-215BBA26B042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Enhance Eudic</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eudic Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Eudic"
	activate
	show dic with word "{query}"
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B31485C7-63E3-4813-A3F9-E0E024258066</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Eudic.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>606BB652-AE3A-4015-9DC4-215BBA26B042</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D4602C0-5DDC-4744-B79A-68E9A436D2BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Show dic with the word</string>
				<key>text</key>
				<string>Eudic</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4EED0387-482F-47F7-A529-41003C2A3AE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.eusoft.eudic</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>65E11D2E-FC2E-4B45-B58B-E5AF264BFAFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Eudic"	activate	set windowName to the name of the front window	speak word with word windowNameend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>57EE9397-9A0B-4798-87F8-4CED7C78E470</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Eudic Tools
&gt; Hotkeys for triggering some operations in Eudic.

## Requirement

install eudic app 

https://www.eudic.net/v4/en/app/download

## Usage

1. support type keyword `eudic` to search word
2. suport hotkey to search selected word. Recommend set `⌥ ⌘ e`.
3. support hotkey to speak selected word. Recommend set `⌘ ⇧ s`

For search feat. If it's a sentence, it will automatically enter the Eduic translation.This is the processing logic of the Eudic and cannot be changed.</string>
	<key>uidata</key>
	<dict>
		<key>1D4602C0-5DDC-4744-B79A-68E9A436D2BA</key>
		<dict>
			<key>note</key>
			<string>Search copied word</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>4EED0387-482F-47F7-A529-41003C2A3AE9</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>57EE9397-9A0B-4798-87F8-4CED7C78E470</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>606BB652-AE3A-4015-9DC4-215BBA26B042</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>65E11D2E-FC2E-4B45-B58B-E5AF264BFAFE</key>
		<dict>
			<key>note</key>
			<string>One-click pronunciation</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>B31485C7-63E3-4813-A3F9-E0E024258066</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>recommend set eudic as keyword</string>
			<key>label</key>
			<string>keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/eudic-tools</string>
</dict>
</plist>
