<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.meeting</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1A1957B9-AA49-4C9C-B242-B7D0478C6E32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D62529D-D53A-4914-A5ED-BCC08ACD29AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>52AE1F64-30FC-4DA9-AD91-7FEC8385D291</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CAC6F79E-FFC5-45DD-A3A0-BB16C2BB0E84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EDE2E3E-ED33-4519-A095-2865E5239B2A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F9E8A28-1A8F-4EB6-8599-E67B1BEF3296</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBBB5BBC-7507-4FFB-92C8-68947D5FCEFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B37C47-B242-4096-A1D3-A3B05EA98332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EB3BEC1-001C-48C8-927A-7978E68AAC7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9311B0D-CEFF-4F0E-AADE-AFE481854278</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9311B0D-CEFF-4F0E-AADE-AFE481854278</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9B37C47-B242-4096-A1D3-A3B05EA98332</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAC6F79E-FFC5-45DD-A3A0-BB16C2BB0E84</key>
		<array/>
		<key>CBBB5BBC-7507-4FFB-92C8-68947D5FCEFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D62529D-D53A-4914-A5ED-BCC08ACD29AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>52AE1F64-30FC-4DA9-AD91-7FEC8385D291</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0759C1B3-6639-4B30-B86F-8BF6607A0F2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D41981C9-D66B-4B2D-B044-19B6B8452E49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A1957B9-AA49-4C9C-B242-B7D0478C6E32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9B37C47-B242-4096-A1D3-A3B05EA98332</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D41981C9-D66B-4B2D-B044-19B6B8452E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>36FBAA3D-E546-4B2A-8D4D-D6BC9CFE2891</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D41981C9-D66B-4B2D-B044-19B6B8452E49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F9E8A28-1A8F-4EB6-8599-E67B1BEF3296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>53C7808E-5BE6-4C7C-A075-2398473EFE57</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>quick to meeting</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Meeting</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Join Meeting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node ./main.js "{query}" "tencent"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D41981C9-D66B-4B2D-B044-19B6B8452E49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>-1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>52AE1F64-30FC-4DA9-AD91-7FEC8385D291</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5EDE2E3E-ED33-4519-A095-2865E5239B2A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1A1957B9-AA49-4C9C-B242-B7D0478C6E32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>meeting info is invalid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D62529D-D53A-4914-A5ED-BCC08ACD29AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>(腾讯会议|tencent)</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>36FBAA3D-E546-4B2A-8D4D-D6BC9CFE2891</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Zoom</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>53C7808E-5BE6-4C7C-A075-2398473EFE57</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E9B37C47-B242-4096-A1D3-A3B05EA98332</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node ./main.js "{query}" "zoom"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F9E8A28-1A8F-4EB6-8599-E67B1BEF3296</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>wemeet://page/inmeeting?meeting_code={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CAC6F79E-FFC5-45DD-A3A0-BB16C2BB0E84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>meeting</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Join Meeting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9EB3BEC1-001C-48C8-927A-7978E68AAC7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard:0}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A9311B0D-CEFF-4F0E-AADE-AFE481854278</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>-1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>52AE1F64-30FC-4DA9-AD91-7FEC8385D291</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CBBB5BBC-7507-4FFB-92C8-68947D5FCEFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0759C1B3-6639-4B30-B86F-8BF6607A0F2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; One-click to join the meeting.
Copy the meeting invitation information or select the invitation text, trigger the universal action or keyword "meeting", and join the meeting with one click.
Commonly used meeting apps will be supported in future updates. Currently, Tencent Meeting App and Zoom Meeting are supported.


## Requirement

brew install node


## Usage
1. Support for triggering by keyword "meeting".
2. Support Universal Action-Join Meeting
3. If only an enterprise WeChat meeting link is available, it cannot directly jump to start a meeting as it is unable to obtain the meeting ID.</string>
	<key>uidata</key>
	<dict>
		<key>0759C1B3-6639-4B30-B86F-8BF6607A0F2E</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>1A1957B9-AA49-4C9C-B242-B7D0478C6E32</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3F9E8A28-1A8F-4EB6-8599-E67B1BEF3296</key>
		<dict>
			<key>note</key>
			<string>Zoom</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>7D62529D-D53A-4914-A5ED-BCC08ACD29AF</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>9EB3BEC1-001C-48C8-927A-7978E68AAC7A</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A9311B0D-CEFF-4F0E-AADE-AFE481854278</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>CAC6F79E-FFC5-45DD-A3A0-BB16C2BB0E84</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>CBBB5BBC-7507-4FFB-92C8-68947D5FCEFE</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>D41981C9-D66B-4B2D-B044-19B6B8452E49</key>
		<dict>
			<key>note</key>
			<string>腾讯会议</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>E9B37C47-B242-4096-A1D3-A3B05EA98332</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/meeting</string>
</dict>
</plist>
