<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.json2ts</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>4B13A479-666E-442D-8600-8E35A450CACD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>971A0F7B-A38F-4A8B-BADF-C1E7DA05E5AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A818E6A-8DE0-4DB1-93D6-3C63295704A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0168EEC-2D9D-4B84-8485-2B6E52EA47AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2676AEF-2583-463E-A75B-FB0B5B783EA8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37012F37-20C8-4D58-92C0-BE9DC0571345</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>971A0F7B-A38F-4A8B-BADF-C1E7DA05E5AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A818E6A-8DE0-4DB1-93D6-3C63295704A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0168EEC-2D9D-4B84-8485-2B6E52EA47AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C14D2E76-5875-4F6A-9906-C0A1EE902B5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C14D2E76-5875-4F6A-9906-C0A1EE902B5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF4FB9A4-2544-451A-93E5-75CDE548229A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2676AEF-2583-463E-A75B-FB0B5B783EA8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDECB2AF-5C6E-4720-99AF-EC68301C2A98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2676AEF-2583-463E-A75B-FB0B5B783EA8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F24FF793-EB72-4996-B8E1-C8AFBA67F713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF4FB9A4-2544-451A-93E5-75CDE548229A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A45BCE8-EDED-46FB-B48F-6E5F42899948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDECB2AF-5C6E-4720-99AF-EC68301C2A98</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>generate TypeScript interfaces from JSON</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Json2TS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF4FB9A4-2544-451A-93E5-75CDE548229A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8A45BCE8-EDED-46FB-B48F-6E5F42899948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./main.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0168EEC-2D9D-4B84-8485-2B6E52EA47AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>json2ts</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4B13A479-666E-442D-8600-8E35A450CACD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D2676AEF-2583-463E-A75B-FB0B5B783EA8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C14D2E76-5875-4F6A-9906-C0A1EE902B5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>971A0F7B-A38F-4A8B-BADF-C1E7DA05E5AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DDECB2AF-5C6E-4720-99AF-EC68301C2A98</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D2676AEF-2583-463E-A75B-FB0B5B783EA8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8A818E6A-8DE0-4DB1-93D6-3C63295704A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Empty JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>37012F37-20C8-4D58-92C0-BE9DC0571345</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Invalid JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F24FF793-EB72-4996-B8E1-C8AFBA67F713</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; generate TypeScript interfaces from JSON. you can choose prefer interface instead of type.


thanks json-ts package.

## usage

json text select and trigger json2ts universal action.</string>
	<key>uidata</key>
	<dict>
		<key>37012F37-20C8-4D58-92C0-BE9DC0571345</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>4B13A479-666E-442D-8600-8E35A450CACD</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>8A45BCE8-EDED-46FB-B48F-6E5F42899948</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>8A818E6A-8DE0-4DB1-93D6-3C63295704A5</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>971A0F7B-A38F-4A8B-BADF-C1E7DA05E5AF</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>C0168EEC-2D9D-4B84-8485-2B6E52EA47AC</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C14D2E76-5875-4F6A-9906-C0A1EE902B5A</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CF4FB9A4-2544-451A-93E5-75CDE548229A</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>DDECB2AF-5C6E-4720-99AF-EC68301C2A98</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>F24FF793-EB72-4996-B8E1-C8AFBA67F713</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ts_namespace</key>
		<string></string>
		<key>ts_prefer_interface</key>
		<string>true</string>
		<key>ts_prefix</key>
		<string></string>
		<key>ts_rootname</key>
		<string>Root</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
