<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.compress-gif</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>07CE0A60-C3F9-4C27-BEF5-377D2865A9E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73EACBF7-1B28-4095-84F9-9686EF64E096</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BC8DF28-40AD-4943-B85C-A1114C75A9A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A80E415-C55B-459A-8FF8-6372696BD8D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>117C083C-CACD-4FD5-9198-6B9FF3B66CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19447271-B75B-485D-98B1-F46B39B99B9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1583322E-6CC6-4140-A030-A17980C70E27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>117C083C-CACD-4FD5-9198-6B9FF3B66CF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19447271-B75B-485D-98B1-F46B39B99B9E</key>
		<array/>
		<key>1D2B0594-5614-4057-96C7-D77E0ED863E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19447271-B75B-485D-98B1-F46B39B99B9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36314461-8FEE-479B-97F5-C9EFC23E8329</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B258138-E893-4EB1-BBAF-0767B6496A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>401D924A-DF04-4FB7-BAE2-1D042EBAC660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52EB62D9-B694-490C-99F7-B16141A2550D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A80E415-C55B-459A-8FF8-6372696BD8D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3CBA76-9DB4-41ED-A00D-E4F4638026C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52EB62D9-B694-490C-99F7-B16141A2550D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73EACBF7-1B28-4095-84F9-9686EF64E096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>927D3D7C-7E7E-440E-8F66-BA7FFFC8A5A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A3CBA76-9DB4-41ED-A00D-E4F4638026C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1583322E-6CC6-4140-A030-A17980C70E27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B378C189-93C5-4183-9074-AC0A03C98F9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>927D3D7C-7E7E-440E-8F66-BA7FFFC8A5A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F01B84E1-80CC-4B22-AC74-C5B75D5CC433</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B378C189-93C5-4183-9074-AC0A03C98F9B</key>
		<array/>
		<key>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36314461-8FEE-479B-97F5-C9EFC23E8329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69D9815D-9617-4900-86F5-6A004D56224F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2D5D50F-9A62-44BD-9FE4-2B1B58236E6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCEFAB73-E689-4074-B0A6-DC872FE5A538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>28D175AB-E3A9-43AC-AF72-808F5EB943C2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDE33C83-6DFB-4A39-9192-CD93B7930812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBD383F3-AEDA-4416-B5EC-E0A6984147D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A3CBA76-9DB4-41ED-A00D-E4F4638026C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA2FEFE3-CA74-4BBD-9ABE-B4442B37E69B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F01B84E1-80CC-4B22-AC74-C5B75D5CC433</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2D5D50F-9A62-44BD-9FE4-2B1B58236E6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7FF401B-4E42-4D93-83E7-DFA7F6611D24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Compress GIF, WebP, JPEG and PNG Size</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Compress</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>full_path={query}
pth=$( echo ${full_path%/*} )
d=`date +%F-%H%M%S`
file_name="${full_path##*/}"
file="${file_name%.*}"
target="$pth/$file-opt.gif"

gifsicle -i "$full_path" -O3 --colors $colors --scale $scale -o "$target"

echo $target</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36314461-8FEE-479B-97F5-C9EFC23E8329</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Compressed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B258138-E893-4EB1-BBAF-0767B6496A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>subtext</key>
				<string>Reduce GIF size</string>
				<key>text</key>
				<string>GIF Compress</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>401D924A-DF04-4FB7-BAE2-1D042EBAC660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application "Finder" to set theItems to selectionrepeat with itemRef in theItems	set myitem to POSIX path of (itemRef as string)end repeat -- it will store the last filename in selection
  return myitem
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52EB62D9-B694-490C-99F7-B16141A2550D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.gif$</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
				</array>
				<key>name</key>
				<string>GIF compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EA2FEFE3-CA74-4BBD-9ABE-B4442B37E69B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Please select a gif!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>69D9815D-9617-4900-86F5-6A004D56224F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Compressed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1D2B0594-5614-4057-96C7-D77E0ED863E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application "Finder" to set theItems to selectionrepeat with itemRef in theItems	set myitem to POSIX path of (itemRef as string)end repeat -- it will store the last filename in selection
  return myitem
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A80E415-C55B-459A-8FF8-6372696BD8D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>img</string>
				<key>subtext</key>
				<string>Reduce Image size, Support WebP, JPEG and PNG</string>
				<key>text</key>
				<string>Image Compress</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0BC8DF28-40AD-4943-B85C-A1114C75A9A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1583322E-6CC6-4140-A030-A17980C70E27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$(echo {query} | sed -e 's/\r//g')

curl --user api:$api_key --data-binary "@$query" "https://api.tinify.com/shrink" | /usr/local/bin/jq -r '.output.url'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>117C083C-CACD-4FD5-9198-6B9FF3B66CF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.(webp|jpe?g|png)$</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8A3CBA76-9DB4-41ED-A00D-E4F4638026C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Image compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CBD383F3-AEDA-4416-B5EC-E0A6984147D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>full_path=$filename
pth=$( echo ${full_path%/*} )
file_name="${full_path##*/}"
file_extension="${full_path##*.}"
file="${file_name%.*}"
target="$pth/$file-opt.$file_extension"

curl -o $target {query}

echo {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19447271-B75B-485D-98B1-F46B39B99B9E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>WebP, JPEG and PNG</string>
				<key>title</key>
				<string>Please select a img!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B378C189-93C5-4183-9074-AC0A03C98F9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Compressed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CCEFAB73-E689-4074-B0A6-DC872FE5A538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"mov","arg":"mov"},{"title":"mp4","arg":"mp4"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>927D3D7C-7E7E-440E-8F66-BA7FFFC8A5A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.quicktime-movie</string>
					<string>public.mpeg-4</string>
				</array>
				<key>name</key>
				<string>Video compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>07CE0A60-C3F9-4C27-BEF5-377D2865A9E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>suffix={query}
full_path=$filepath
pth=$( echo ${full_path%/*} )
d=`date +%F-%H%M%S`
file_name="${full_path##*/}"
file="${file_name%.*}"
target="$pth/$file-opt.$suffix"

crf=$(echo "($scale * 51 + 0.5) / 1" | bc -l | xargs printf "%.0f")

# ffmpeg -i "$filepath" -c:v libx264 -crf $crf -c:a copy -loglevel error "$target"
ffmpeg -i "$filepath" -c:v libx264 -crf $crf -c:a copy "$target"

echo -n $?</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F01B84E1-80CC-4B22-AC74-C5B75D5CC433</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>28D175AB-E3A9-43AC-AF72-808F5EB943C2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C2D5D50F-9A62-44BD-9FE4-2B1B58236E6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filepath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>73EACBF7-1B28-4095-84F9-9686EF64E096</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Compressed fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDE33C83-6DFB-4A39-9192-CD93B7930812</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>just waitting for moment</string>
				<key>title</key>
				<string>Compressing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C7FF401B-4E42-4D93-83E7-DFA7F6611D24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Compress

&gt; Compress your GIF/Mov/MP4, support scale to convert compress ratio


## requirement

### GIF

`brew install gifsicle`


### Image

`brew install jq`

visit https://tinypng.com/developers, get your api key

tinypng pricing

![https://i.imgur.com/NQTEs5s.jpg](https://i.imgur.com/NQTEs5s.jpg)

### Mov/Mp4

`brew install ffmpeg`</string>
	<key>uidata</key>
	<dict>
		<key>07CE0A60-C3F9-4C27-BEF5-377D2865A9E3</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>0BC8DF28-40AD-4943-B85C-A1114C75A9A2</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>117C083C-CACD-4FD5-9198-6B9FF3B66CF4</key>
		<dict>
			<key>note</key>
			<string>upload and compress</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1583322E-6CC6-4140-A030-A17980C70E27</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>19447271-B75B-485D-98B1-F46B39B99B9E</key>
		<dict>
			<key>note</key>
			<string>downlad</string>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>1B258138-E893-4EB1-BBAF-0767B6496A9E</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>1D2B0594-5614-4057-96C7-D77E0ED863E4</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>36314461-8FEE-479B-97F5-C9EFC23E8329</key>
		<dict>
			<key>note</key>
			<string>gifsicle</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>401D924A-DF04-4FB7-BAE2-1D042EBAC660</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4A80E415-C55B-459A-8FF8-6372696BD8D8</key>
		<dict>
			<key>note</key>
			<string>get selection</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>52EB62D9-B694-490C-99F7-B16141A2550D</key>
		<dict>
			<key>note</key>
			<string>get selection</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>69D9815D-9617-4900-86F5-6A004D56224F</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>73EACBF7-1B28-4095-84F9-9686EF64E096</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>8A3CBA76-9DB4-41ED-A00D-E4F4638026C1</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>927D3D7C-7E7E-440E-8F66-BA7FFFC8A5A2</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>B378C189-93C5-4183-9074-AC0A03C98F9B</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C2D5D50F-9A62-44BD-9FE4-2B1B58236E6D</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>895</real>
		</dict>
		<key>C7FF401B-4E42-4D93-83E7-DFA7F6611D24</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>CBD383F3-AEDA-4416-B5EC-E0A6984147D4</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>CCEFAB73-E689-4074-B0A6-DC872FE5A538</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>DDE33C83-6DFB-4A39-9192-CD93B7930812</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>EA2FEFE3-CA74-4BBD-9ABE-B4442B37E69B</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>F01B84E1-80CC-4B22-AC74-C5B75D5CC433</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>TinyPNG API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>256</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Colors</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>colors</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.8</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>0-1</string>
			<key>label</key>
			<string>Compress Ratio</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>scale</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.1</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/compress-gif</string>
</dict>
</plist>
