<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.mac-enhancer</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>29DA1D50-839E-444B-8391-CE11F16BAB95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>346E6071-BEB0-4365-8EEA-50163C41B766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45554D26-FF2F-4F95-8C08-934F062DEF67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC6456A9-9CE8-413B-9915-555B9C96BC26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BBF2599-5319-489D-974D-D3D2DD98F6DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B7F670B-D806-4968-88BC-C8CDF3273C19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45554D26-FF2F-4F95-8C08-934F062DEF67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DC74B76-2782-45C0-A426-7DB760F0B008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7578C91F-A1EF-4DF0-B4E5-B8428DC069F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E268ABF-0773-452C-B548-5D61FE7ECDB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD523C1F-C6BF-4955-809A-51ECF942A9F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62109EB1-9131-4E93-BFC5-D1781630C239</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7352D6CA-8913-4E57-8E41-823216845D0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C83943-0D5A-4693-BB72-3C445197EE25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E268ABF-0773-452C-B548-5D61FE7ECDB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91417F9B-F3F5-4A48-9A04-80DC5B1DB101</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C51C0769-A94F-406E-80EC-F4B635F47C86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8008FB3-73D5-4264-9B1E-597592344FC8</key>
		<array/>
		<key>B8BFA086-1B2F-4728-9976-2D4F4EBB5086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8008FB3-73D5-4264-9B1E-597592344FC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7878FD3-341C-46E3-B296-200E28529751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82D1CD73-87B3-464C-A925-683257981357</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>enhance Mac</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mac Enhancer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>if running of application "System Preferences" then	try		tell application "System Preferences" to quit	on error		do shell script "killall 'System Preferences'"	end tryend ifrepeat while running of application "System Preferences" is true	delay 0.1end repeattell application "System Preferences"	reveal anchor "Mouse" of pane id "com.apple.preference.universalaccess"	delay 1	tell application "System Events"		click checkbox 2 of tab group 1 of group 1 of window 1 of application process "System Preferences"	end tell	quitend tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8008FB3-73D5-4264-9B1E-597592344FC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trackpad</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Trackpad on/off</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B8BFA086-1B2F-4728-9976-2D4F4EBB5086</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6DC74B76-2782-45C0-A426-7DB760F0B008</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.openwith</string>
				<key>path</key>
				<string>{query}</string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>7578C91F-A1EF-4DF0-B4E5-B8428DC069F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⎋</string>
				<key>keycode</key>
				<integer>53</integer>
				<key>keymod</key>
				<integer>1310720</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C51C0769-A94F-406E-80EC-F4B635F47C86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>22</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>6</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>91417F9B-F3F5-4A48-9A04-80DC5B1DB101</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Messages"	set myChats to chats		repeat with chatItem in myChats		try			delete chatItem		on error errorMessage			log "errorMessage" &amp; errorMessage		end try	end repeat	end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45554D26-FF2F-4F95-8C08-934F062DEF67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>empty</string>
				<key>subtext</key>
				<string>delete all messages</string>
				<key>text</key>
				<string>Empty Messages</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B7F670B-D806-4968-88BC-C8CDF3273C19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>AC6456A9-9CE8-413B-9915-555B9C96BC26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set volume without output muted</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD523C1F-C6BF-4955-809A-51ECF942A9F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if application "Messages" is running then	tell application "Messages" to quitend if

if application "Messages" is not running then	tell application "Messages" to openend if</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BBF2599-5319-489D-974D-D3D2DD98F6DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mute</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>set muted to (output muted of (get volume settings))set comm to "bash ./mute.sh" &amp; " \"" &amp; muted &amp; "\""
do shell script comm</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./system-info.scpt</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Toggle Mute</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70C83943-0D5A-4693-BB72-3C445197EE25</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>62109EB1-9131-4E93-BFC5-D1781630C239</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6E268ABF-0773-452C-B548-5D61FE7ECDB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set volume with output muted</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7352D6CA-8913-4E57-8E41-823216845D0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>set device to do shell script "networksetup -listallhardwareports | awk '$3==\"Wi-Fi\" {getline;print}' | awk '{print $2}'"set power to do shell script "networksetup -getairportpower " &amp; device &amp; " | awk '{print $4}'"

set comm to "bash ./wifi.sh" &amp; " \"" &amp; power &amp; "\""
do shell script comm</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./system-info.scpt</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Toggle WiFi</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29DA1D50-839E-444B-8391-CE11F16BAB95</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set device to do shell script "networksetup -listallhardwareports | awk '$3==\"Wi-Fi\" {getline;print}' | awk '{print $2}'"

set power to do shell script "networksetup -getairportpower " &amp; device &amp; " | awk '{print $4}'"

if power is equal to "on" then
	set power to "off"
else
	set power to "on"
end if

do shell script ("networksetup -setairportpower " &amp; device &amp; " " &amp; power)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>346E6071-BEB0-4365-8EEA-50163C41B766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E7878FD3-341C-46E3-B296-200E28529751</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Google Chrome" to set URL of active tab of window 1 to "javascript:"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82D1CD73-87B3-464C-A925-683257981357</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Mac enhancer

1. toggle trackpad
2. toggle mute
3. shortcut[⌘ ⇧ 6] to end screenshot
4. shortcut[⌘ ⇧ O] to open with
5. shortcut[⌘ ⇧ L] to lose focus from address bar input 
   just for Chrome
6. Delete All Messages
7. toggle WiFi</string>
	<key>uidata</key>
	<dict>
		<key>29DA1D50-839E-444B-8391-CE11F16BAB95</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>346E6071-BEB0-4365-8EEA-50163C41B766</key>
		<dict>
			<key>note</key>
			<string>toggle WiFi</string>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>45554D26-FF2F-4F95-8C08-934F062DEF67</key>
		<dict>
			<key>note</key>
			<string>delete messages</string>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>5B7F670B-D806-4968-88BC-C8CDF3273C19</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>6DC74B76-2782-45C0-A426-7DB760F0B008</key>
		<dict>
			<key>note</key>
			<string>Open With</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>6E268ABF-0773-452C-B548-5D61FE7ECDB2</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>70C83943-0D5A-4693-BB72-3C445197EE25</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>7352D6CA-8913-4E57-8E41-823216845D0F</key>
		<dict>
			<key>note</key>
			<string>mute</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>7578C91F-A1EF-4DF0-B4E5-B8428DC069F2</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>82D1CD73-87B3-464C-A925-683257981357</key>
		<dict>
			<key>note</key>
			<string>return focus to page after address input</string>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>8BBF2599-5319-489D-974D-D3D2DD98F6DD</key>
		<dict>
			<key>note</key>
			<string>reopen Message.app</string>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>91417F9B-F3F5-4A48-9A04-80DC5B1DB101</key>
		<dict>
			<key>note</key>
			<string>end screenshot</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>A8008FB3-73D5-4264-9B1E-597592344FC8</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>AC6456A9-9CE8-413B-9915-555B9C96BC26</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B8BFA086-1B2F-4728-9976-2D4F4EBB5086</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>C51C0769-A94F-406E-80EC-F4B635F47C86</key>
		<dict>
			<key>note</key>
			<string>Stop capture</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>E7878FD3-341C-46E3-B296-200E28529751</key>
		<dict>
			<key>note</key>
			<string>for Chrome</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>FD523C1F-C6BF-4955-809A-51ECF942A9F6</key>
		<dict>
			<key>note</key>
			<string>unmute</string>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
