<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.json-view</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0D7E6D0D-5675-43E8-9B0F-AD5390229B42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CE32A5A-BDE3-43FD-B368-94F0BE6B9AED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A00CDB0C-C204-49BE-B063-8CEEA7C261EE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2C575D4-2FCD-47D6-97B3-7209D481609D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0EADFDF9-A34F-4184-A9BE-1F98AD189E45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9765F0E8-10BD-4720-B534-0CC1F44D6069</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy formatted JSON to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A1A26B5-022A-443B-94F2-0062E27A1F93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42C99DB3-A00B-4417-800B-94D55A24A0EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49DF400A-14F8-4A46-A810-1CAAAC47B0C6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy formatted JSON to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49DF400A-14F8-4A46-A810-1CAAAC47B0C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A1A26B5-022A-443B-94F2-0062E27A1F93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EE010DC-090A-48AD-A192-6532A82A37B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56B72CA7-CF83-4699-9585-395A6EF0BA99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E808015B-A1C3-4C33-88AF-77832797CD40</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D7E6D0D-5675-43E8-9B0F-AD5390229B42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CE32A5A-BDE3-43FD-B368-94F0BE6B9AED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92829E93-EB31-4104-883E-65CF00B93FA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9765F0E8-10BD-4720-B534-0CC1F44D6069</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49DF400A-14F8-4A46-A810-1CAAAC47B0C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EE010DC-090A-48AD-A192-6532A82A37B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Pretty JSON</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON View</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>JSON invalid</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>56B72CA7-CF83-4699-9585-395A6EF0BA99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>JSON View</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>42C99DB3-A00B-4417-800B-94D55A24A0EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" | jq . &gt;/dev/null 2&gt;&amp;1 
if [ $? -eq 0 ]; then
  echo "{query}"
else
  echo -n -1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>-1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E808015B-A1C3-4C33-88AF-77832797CD40</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5EE010DC-090A-48AD-A192-6532A82A37B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isCopy</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>49DF400A-14F8-4A46-A810-1CAAAC47B0C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>92829E93-EB31-4104-883E-65CF00B93FA6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" | jq .</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CE32A5A-BDE3-43FD-B368-94F0BE6B9AED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:isCopy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A00CDB0C-C204-49BE-B063-8CEEA7C261EE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0D7E6D0D-5675-43E8-9B0F-AD5390229B42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>view</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>B2C575D4-2FCD-47D6-97B3-7209D481609D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9765F0E8-10BD-4720-B534-0CC1F44D6069</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>Format json text</string>
				<key>text</key>
				<string>JSON View</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0EADFDF9-A34F-4184-A9BE-1F98AD189E45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4A1A26B5-022A-443B-94F2-0062E27A1F93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Format json text with one click

## Requirement

```
brew install jq
```

## Usage

1. Select some text and trigger universal action.
2. `enter` to preview formatted json.
3. `⌘ enter` to copy the formatted json.
4. Type `jsonview` keyword to trigger the action with clipboard.</string>
	<key>uidata</key>
	<dict>
		<key>0D7E6D0D-5675-43E8-9B0F-AD5390229B42</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>0EADFDF9-A34F-4184-A9BE-1F98AD189E45</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>42C99DB3-A00B-4417-800B-94D55A24A0EE</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>49DF400A-14F8-4A46-A810-1CAAAC47B0C6</key>
		<dict>
			<key>note</key>
			<string>set isCopy</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>4A1A26B5-022A-443B-94F2-0062E27A1F93</key>
		<dict>
			<key>note</key>
			<string>read clipboard</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>56B72CA7-CF83-4699-9585-395A6EF0BA99</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5EE010DC-090A-48AD-A192-6532A82A37B6</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>7CE32A5A-BDE3-43FD-B368-94F0BE6B9AED</key>
		<dict>
			<key>note</key>
			<string>format json</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>92829E93-EB31-4104-883E-65CF00B93FA6</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>9765F0E8-10BD-4720-B534-0CC1F44D6069</key>
		<dict>
			<key>note</key>
			<string>read clipboard</string>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>B2C575D4-2FCD-47D6-97B3-7209D481609D</key>
		<dict>
			<key>note</key>
			<string>preview json</string>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>DF0D4AEA-3B11-4FF8-BE0D-067C65E187FD</key>
		<dict>
			<key>note</key>
			<string>check json invalid</string>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>jsonview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
