<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.img-resize</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0B21731A-E4F4-47D8-B514-7EDBD1B063FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CACEF680-9AEC-47CA-BCE1-9467F2A21923</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26374403-7F8D-4B7B-A99D-1F5CB696ABDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E198DF77-C0B4-470B-BC7C-07CF14BE7E35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37BB7108-70E5-42D7-892F-F8CCB9D61CF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26374403-7F8D-4B7B-A99D-1F5CB696ABDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85B3FA54-22E8-4381-A7EB-F88C5DE3963D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9F55250-F3BF-48AB-A0D0-829057674E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>941B1957-6F6B-4445-BA00-19F7635CD4D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B21731A-E4F4-47D8-B514-7EDBD1B063FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9F55250-F3BF-48AB-A0D0-829057674E9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED3F083A-836A-4661-9C52-86E024124FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CACEF680-9AEC-47CA-BCE1-9467F2A21923</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED3F083A-836A-4661-9C52-86E024124FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E198DF77-C0B4-470B-BC7C-07CF14BE7E35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85B3FA54-22E8-4381-A7EB-F88C5DE3963D</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>resize original file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>941B1957-6F6B-4445-BA00-19F7635CD4D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>resize according to specified resolution</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Resize Image</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E198DF77-C0B4-470B-BC7C-07CF14BE7E35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:height}</string>
					<key>width</key>
					<string>{var:width}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.resize.freeform</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>ED3F083A-836A-4661-9C52-86E024124FF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Resize Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>37BB7108-70E5-42D7-892F-F8CCB9D61CF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:imageSrc}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>height</key>
					<string>{var:split2}</string>
					<key>width</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C9F55250-F3BF-48AB-A0D0-829057674E9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>x</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>85B3FA54-22E8-4381-A7EB-F88C5DE3963D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>imageSrc</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26374403-7F8D-4B7B-A99D-1F5CB696ABDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># 获取要复制的文件名和路径
filename="$imageSrc"
filepath=$(dirname "$filename")
extension="${filename##*.}"
filename="${filename%.*}"


# 根据当前日期生成新的文件名
newfilename="${filename}_{query}.${extension}"

cp "$filename.$extension" "$newfilename"

echo -n "$newfilename"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CACEF680-9AEC-47CA-BCE1-9467F2A21923</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>x</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>941B1957-6F6B-4445-BA00-19F7635CD4D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>height</key>
					<string>{var:split2}</string>
					<key>width</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B21731A-E4F4-47D8-B514-7EDBD1B063FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; resize according to specified resolution


support png,jpeg

## Usage

1. enter to resize the copy image
2. ⌃ and enter to resize the original image</string>
	<key>uidata</key>
	<dict>
		<key>0B21731A-E4F4-47D8-B514-7EDBD1B063FD</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>26374403-7F8D-4B7B-A99D-1F5CB696ABDC</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>37BB7108-70E5-42D7-892F-F8CCB9D61CF3</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>85B3FA54-22E8-4381-A7EB-F88C5DE3963D</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>941B1957-6F6B-4445-BA00-19F7635CD4D6</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>C9F55250-F3BF-48AB-A0D0-829057674E9F</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CACEF680-9AEC-47CA-BCE1-9467F2A21923</key>
		<dict>
			<key>note</key>
			<string>copy file</string>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>E198DF77-C0B4-470B-BC7C-07CF14BE7E35</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>ED3F083A-836A-4661-9C52-86E024124FF9</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
