<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.chatgpt-enhancer</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>01C45A52-E18E-4737-9D81-B8C0A0F37E92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93482D3C-F2EF-4D8E-8522-4DB4B6952044</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C10F57DA-1E41-42C0-AD7F-5648C8F8A7A9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0177D505-9EE3-42D6-9C8E-AFA9E2C3F1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95C6E0B3-4134-447D-B630-29398A0B6D6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FA68A07-5975-4B00-97B2-14019C9C20D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>171A6056-FFD0-4405-A893-ADBC217BB210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A1B1FAB-A41B-4CBE-8A03-7F8B211B937B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>171A6056-FFD0-4405-A893-ADBC217BB210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C418C6F-0F20-4A6B-A9E2-8563AB93B62D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E2ED49-56CF-46F9-AC16-3D3B902EC801</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72E2ED49-56CF-46F9-AC16-3D3B902EC801</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9066D9-C59A-4401-87A8-80DC61EAD077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86257124-2E66-40DE-AD4B-267F8D9809EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADB03A80-B755-4D43-B120-CC829CAA4780</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93482D3C-F2EF-4D8E-8522-4DB4B6952044</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9326377-3ACF-4E19-908E-8EE28411D7A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95C6E0B3-4134-447D-B630-29398A0B6D6A</key>
		<array/>
		<key>95F1AD4E-B445-49D1-89D7-D10980B13293</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>171A6056-FFD0-4405-A893-ADBC217BB210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>992EB833-6531-480A-BC7D-CFC989092ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01C45A52-E18E-4737-9D81-B8C0A0F37E92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC9066D9-C59A-4401-87A8-80DC61EAD077</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86257124-2E66-40DE-AD4B-267F8D9809EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3300992D-649C-476B-B1D5-61087DDA2692</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A6D22B5-8EB2-4363-9821-4874EDA470A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADB03A80-B755-4D43-B120-CC829CAA4780</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>171A6056-FFD0-4405-A893-ADBC217BB210</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9326377-3ACF-4E19-908E-8EE28411D7A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F39B2BE-285C-4002-BC43-0B691C005C9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Make ChatGPT more productive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ChatGPT Enhancer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>7F39B2BE-285C-4002-BC43-0B691C005C9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Ask ChatGPT for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>3FA68A07-5975-4B00-97B2-14019C9C20D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/ChatGPT.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>93482D3C-F2EF-4D8E-8522-4DB4B6952044</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>B9326377-3ACF-4E19-908E-8EE28411D7A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>chatgpt.run</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>992EB833-6531-480A-BC7D-CFC989092ABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>chatgpt.run</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>171A6056-FFD0-4405-A893-ADBC217BB210</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:use_clipboard}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>C10F57DA-1E41-42C0-AD7F-5648C8F8A7A9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>01C45A52-E18E-4737-9D81-B8C0A0F37E92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/ChatGPT.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0177D505-9EE3-42D6-9C8E-AFA9E2C3F1C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>95F1AD4E-B445-49D1-89D7-D10980B13293</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>95C6E0B3-4134-447D-B630-29398A0B6D6A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Ask ChatGPT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5A1B1FAB-A41B-4CBE-8A03-7F8B211B937B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>use_clipboard</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ADB03A80-B755-4D43-B120-CC829CAA4780</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Copy Selected Files to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>86257124-2E66-40DE-AD4B-267F8D9809EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Ask ChatGPT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6C418C6F-0F20-4A6B-A9E2-8563AB93B62D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>Copy Selected Files to Clipboard</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>72E2ED49-56CF-46F9-AC16-3D3B902EC801</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>has installed</string>
						<key>uid</key>
						<string>3300992D-649C-476B-B1D5-61087DDA2692</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>missing</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AC9066D9-C59A-4401-87A8-80DC61EAD077</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>Copy Selected Files to Clipboard.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>4A6D22B5-8EB2-4363-9821-4874EDA470A3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Make ChatGPT more productive by providing quick access and enhanced functionality.

## Requirement

install ChatGPT App

link: https://persistent.oaistatic.com/sidekick/public/ChatGPT_Desktop_public_latest.dmg

## Feat
1. fallback search.
2. select any texts/files/urls, trigger universal action.
3. hotkey to trigger `⌥ ⌘ G`.</string>
	<key>uidata</key>
	<dict>
		<key>0177D505-9EE3-42D6-9C8E-AFA9E2C3F1C4</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>01C45A52-E18E-4737-9D81-B8C0A0F37E92</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>171A6056-FFD0-4405-A893-ADBC217BB210</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>3FA68A07-5975-4B00-97B2-14019C9C20D4</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>4A6D22B5-8EB2-4363-9821-4874EDA470A3</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>5A1B1FAB-A41B-4CBE-8A03-7F8B211B937B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>6C418C6F-0F20-4A6B-A9E2-8563AB93B62D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>72E2ED49-56CF-46F9-AC16-3D3B902EC801</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>7F39B2BE-285C-4002-BC43-0B691C005C9B</key>
		<dict>
			<key>xpos</key>
			<real>1135</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>86257124-2E66-40DE-AD4B-267F8D9809EA</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>93482D3C-F2EF-4D8E-8522-4DB4B6952044</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>95C6E0B3-4134-447D-B630-29398A0B6D6A</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>95F1AD4E-B445-49D1-89D7-D10980B13293</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>992EB833-6531-480A-BC7D-CFC989092ABF</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>AC9066D9-C59A-4401-87A8-80DC61EAD077</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>ADB03A80-B755-4D43-B120-CC829CAA4780</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>B9326377-3ACF-4E19-908E-8EE28411D7A3</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
