<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.convertio</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>24733700-4082-4D73-81DC-5AF2CC654D65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2C2A59A-D14C-495F-9A64-F25E9259B381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B2C08D8-A04F-4925-BD8D-4665E03E69AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98B1663E-DEF7-470D-9445-77A25EC756DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42A7C6C6-C17E-4BCC-8FFA-D157F3DC9FA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6D89AAA-1E91-4BBD-921B-4807239ECA99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>514DEB5B-4214-456E-AB96-44D7F3EFB4F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD5E983-C340-4F81-AFD7-E9F2247A5140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>fileexists</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61073CA9-E2D1-4B04-8811-CC0FB3C5D513</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>585A309D-54C0-4AF9-B6D3-8059523F18C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>514DEB5B-4214-456E-AB96-44D7F3EFB4F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98B1663E-DEF7-470D-9445-77A25EC756DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>585A309D-54C0-4AF9-B6D3-8059523F18C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6D89AAA-1E91-4BBD-921B-4807239ECA99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2C2A59A-D14C-495F-9A64-F25E9259B381</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ConvertIO</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>dyn.ah62d4rv4ge80455cre</string>
				</array>
				<key>name</key>
				<string>MOBI ➡️ EPUB Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>24733700-4082-4D73-81DC-5AF2CC654D65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BDD5E983-C340-4F81-AFD7-E9F2247A5140</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>outputformat</key>
					<string>epub</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F2C2A59A-D14C-495F-9A64-F25E9259B381</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>fileutivariablename</key>
				<string></string>
				<key>outputfileuti</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.file</string>
			<key>uid</key>
			<string>514DEB5B-4214-456E-AB96-44D7F3EFB4F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js '{query}' "$outputformat"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\n</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>585A309D-54C0-4AF9-B6D3-8059523F18C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Convert Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>61073CA9-E2D1-4B04-8811-CC0FB3C5D513</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>org.idpf.epub-container</string>
				</array>
				<key>name</key>
				<string>EPUB ➡️ MOBI Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>2B2C08D8-A04F-4925-BD8D-4665E03E69AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>outputformat</key>
					<string>mobi</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>98B1663E-DEF7-470D-9445-77A25EC756DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
				</array>
				<key>name</key>
				<string>JPG ➡️ PNG Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>42A7C6C6-C17E-4BCC-8FFA-D157F3DC9FA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>outputformat</key>
					<string>png</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D6D89AAA-1E91-4BBD-921B-4807239ECA99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Support mobi to epub, epub to mobi, jpg to png.

select mobi/epub/jpg file and trigger action.

## get started

- brew install node
- registry on https://developers.convertio.co
- config api_key

## Doc
- https://developers.convertio.co/api/docs/</string>
	<key>uidata</key>
	<dict>
		<key>24733700-4082-4D73-81DC-5AF2CC654D65</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2B2C08D8-A04F-4925-BD8D-4665E03E69AE</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>42A7C6C6-C17E-4BCC-8FFA-D157F3DC9FA6</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>514DEB5B-4214-456E-AB96-44D7F3EFB4F4</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>585A309D-54C0-4AF9-B6D3-8059523F18C0</key>
		<dict>
			<key>note</key>
			<string>delete newline</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>61073CA9-E2D1-4B04-8811-CC0FB3C5D513</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>98B1663E-DEF7-470D-9445-77A25EC756DD</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>B1EBEA6D-025B-447A-8EA2-D2BD649723A1</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>BDD5E983-C340-4F81-AFD7-E9F2247A5140</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>D6D89AAA-1E91-4BBD-921B-4807239ECA99</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>F2C2A59A-D14C-495F-9A64-F25E9259B381</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>api_key</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>api_key</string>
	</array>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/convertio</string>
</dict>
</plist>
