<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.ray-so</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43C76903-8B5D-4183-B796-EF7E0C71CC67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Create beautiful images of your code using ray.so</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Generate Image</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>base64Text="$1"

echo -n "https://ray.so/#theme=$theme&amp;background=$background&amp;darkMode=$darkMode&amp;padding=$padding&amp;code=${base64Text}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Generate Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>43C76903-8B5D-4183-B796-EF7E0C71CC67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>base64</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.binary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Create beautiful images of your code. Rewritten with reference to the official Raycast plugin.


## Usage

1. Select some code and trigger univeral action named `Generate Image`.
2. Support customize the setting.


## Reference

https://github.com/raycast/extensions/tree/main/extensions/ray-so</string>
	<key>uidata</key>
	<dict>
		<key>1464FDD7-F6B7-4072-9FF1-14E58DE1C8B6</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>3EBCAF89-1523-4FD6-A37D-C6230E4228B2</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>43C76903-8B5D-4183-B796-EF7E0C71CC67</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>688024F8-35B9-4EF3-A4D4-3DE8D7DFD8E2</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>71FB67B1-5E25-47BC-BF4B-60B0254E5C9D</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>candy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Bitmap</string>
						<string>bitmap</string>
					</array>
					<array>
						<string>Noir</string>
						<string>noir</string>
					</array>
					<array>
						<string>Ice</string>
						<string>ice</string>
					</array>
					<array>
						<string>Sand</string>
						<string>sand</string>
					</array>
					<array>
						<string>Forest</string>
						<string>forest</string>
					</array>
					<array>
						<string>Mono</string>
						<string>mono</string>
					</array>
					<array>
						<string>Breeze</string>
						<string>breeze</string>
					</array>
					<array>
						<string>Candy</string>
						<string>candy</string>
					</array>
					<array>
						<string>Crimson</string>
						<string>crimson</string>
					</array>
					<array>
						<string>Falcon</string>
						<string>falcon</string>
					</array>
					<array>
						<string>Meadow</string>
						<string>meadow</string>
					</array>
					<array>
						<string>Midnight</string>
						<string>midnight</string>
					</array>
					<array>
						<string>Vercell</string>
						<string>vercell</string>
					</array>
					<array>
						<string>Supabase</string>
						<string>supabase</string>
					</array>
					<array>
						<string>Tailwind</string>
						<string>tailwind</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Theme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>theme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>16</string>
						<string></string>
					</array>
					<array>
						<string>32</string>
						<string></string>
					</array>
					<array>
						<string>64</string>
						<string></string>
					</array>
					<array>
						<string>128</string>
						<string></string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Padding</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>padding</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Dark Mode</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>darkMode</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Background</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>background</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
