<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.find-my-iphone</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>07704298-52F6-443F-A51B-BAEA88B2A5FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80792117-B5D4-437F-B7DC-C74FF7DE1FA5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Play Sound</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44BABAAD-9ED2-4CA0-8E76-C829D8730C22</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>iCloud Web</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BABAAD-9ED2-4CA0-8E76-C829D8730C22</key>
		<array/>
		<key>80792117-B5D4-437F-B7DC-C74FF7DE1FA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B3EE65D-93B5-4118-A0A2-4E003F146E57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Find iPhone</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js playsound {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80792117-B5D4-437F-B7DC-C74FF7DE1FA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>The device sent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0B3EE65D-93B5-4118-A0A2-4E003F146E57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>findmy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js list {query} </string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>keep track of your Apple devices</string>
				<key>title</key>
				<string>Find iPhone</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07704298-52F6-443F-A51B-BAEA88B2A5FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.icloud.com/find/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>44BABAAD-9ED2-4CA0-8E76-C829D8730C22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>quickly find your missing iPhone (or other Apple device)


## Config

1. login icloud web
2. copy some value to alfred-envvironment[clientBuildNumber,clientId,dsid,cookie]
3. set your iCloud apple_id and password(for auto login)

Logging in for the first time is troublesome, but after that, it will automatically log in and update the cookie.

## Thanks
- https://gist.github.com/adamawolf/3048717
- https://emojipedia.org/</string>
	<key>uidata</key>
	<dict>
		<key>07704298-52F6-443F-A51B-BAEA88B2A5FD</key>
		<dict>
			<key>note</key>
			<string>device list</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>0B3EE65D-93B5-4118-A0A2-4E003F146E57</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>44BABAAD-9ED2-4CA0-8E76-C829D8730C22</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>80792117-B5D4-437F-B7DC-C74FF7DE1FA5</key>
		<dict>
			<key>note</key>
			<string>Send alarm</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>apple_id</key>
		<string></string>
		<key>clientBuildNumber</key>
		<string></string>
		<key>clientId</key>
		<string></string>
		<key>cookie</key>
		<string></string>
		<key>dsid</key>
		<string></string>
		<key>password</key>
		<string></string>
		<key>timezone</key>
		<string>Asia/Shanghai</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>cookie</string>
		<string>password</string>
		<string>apple_id</string>
		<string>clientBuildNumber</string>
		<string>clientId</string>
		<string>dsid</string>
	</array>
	<key>version</key>
	<string>0.3</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
