<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.sql-formatter</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>3CE515F9-D827-4723-93B0-288C83407663</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D26EB5-C3BF-4F69-8510-D4A40C285F66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1D26EB5-C3BF-4F69-8510-D4A40C285F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37834332-5245-40FF-B7D4-5601A83AC7B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>pretty-printing SQL queries</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SQL Formatter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>37834332-5245-40FF-B7D4-5601A83AC7B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

node index.js "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1D26EB5-C3BF-4F69-8510-D4A40C285F66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>SQL Formatter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>3CE515F9-D827-4723-93B0-288C83407663</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; A whitespace formatter for different query languages


## Usage

Select the SQL text, invoke Universal Action, choose SQL Formatter, and press Enter.

Support Dialect Setting.

see https://github.com/sql-formatter-org/sql-formatter/blob/9dc0a04dcfef84020eb22a0d90cb3daa93a11045/docs/language.md</string>
	<key>uidata</key>
	<dict>
		<key>37834332-5245-40FF-B7D4-5601A83AC7B7</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3CE515F9-D827-4723-93B0-288C83407663</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>C1D26EB5-C3BF-4F69-8510-D4A40C285F66</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mysql</string>
				<key>pairs</key>
				<array>
					<array>
						<string>sql</string>
						<string>sql</string>
					</array>
					<array>
						<string>bigquery</string>
						<string>bigquery</string>
					</array>
					<array>
						<string>db2</string>
						<string>db2</string>
					</array>
					<array>
						<string>db2i</string>
						<string>db2i</string>
					</array>
					<array>
						<string>hive</string>
						<string>hive</string>
					</array>
					<array>
						<string>mariadb</string>
						<string>mariadb</string>
					</array>
					<array>
						<string>mysql</string>
						<string>mysql</string>
					</array>
					<array>
						<string>tidb</string>
						<string>tidb</string>
					</array>
					<array>
						<string>n1ql</string>
						<string>n1ql</string>
					</array>
					<array>
						<string>plsql</string>
						<string>plsql</string>
					</array>
					<array>
						<string>postgresql</string>
						<string>postgresql</string>
					</array>
					<array>
						<string>redshift</string>
						<string>redshift</string>
					</array>
					<array>
						<string>singlestoredb</string>
						<string>singlestoredb</string>
					</array>
					<array>
						<string>snowflake</string>
						<string>snowflake</string>
					</array>
					<array>
						<string>spark</string>
						<string>spark</string>
					</array>
					<array>
						<string>sqlite</string>
						<string>sqlite</string>
					</array>
					<array>
						<string>transactsql</string>
						<string>transactsql</string>
					</array>
					<array>
						<string>trino</string>
						<string>trino</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Dialect</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sql_dialect</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
