<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.string-manipulation</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>022858CA-3A3C-4C6B-B5F1-788AE01FABF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6741721F-CB8B-48CA-80DF-EB4B1D28953B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0573B8FD-6DED-44E8-ACA7-E5699F60142C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D1177A0-34AE-45B2-80B6-D2BC47515C0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C34A1365-30C2-4F2C-9983-EA36667F2F1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63FFA124-E784-487C-A031-5A19E789322D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6741721F-CB8B-48CA-80DF-EB4B1D28953B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85718ACE-EA16-48D1-8D6A-3D1A90612E76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C2BEEC9-D2AD-4872-A808-3DC75B6F2CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7594A180-EF3E-4FAB-AC06-7A8870ED9F2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE3DDC48-5F22-4AE4-82AC-F118CCD0062D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90DBD5E1-FB1C-46A4-92AB-BDC19CA95AD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85718ACE-EA16-48D1-8D6A-3D1A90612E76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90DBD5E1-FB1C-46A4-92AB-BDC19CA95AD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F38CE9A1-7DC9-4EB2-9517-6863889396B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE3DDC48-5F22-4AE4-82AC-F118CCD0062D</key>
		<array/>
		<key>B9742278-AF74-4748-AABD-EE87E58E96F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63FFA124-E784-487C-A031-5A19E789322D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEA5EED6-DC4F-48A8-94DC-85CD62B3046E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>022858CA-3A3C-4C6B-B5F1-788AE01FABF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C238D393-645D-46EA-88A1-BF6F225D8EE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C2BEEC9-D2AD-4872-A808-3DC75B6F2CF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C34A1365-30C2-4F2C-9983-EA36667F2F1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E995C538-B96F-4DAD-AB6B-EB71EB96F46A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7594A180-EF3E-4FAB-AC06-7A8870ED9F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F38CE9A1-7DC9-4EB2-9517-6863889396B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0573B8FD-6DED-44E8-ACA7-E5699F60142C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Case switching</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>String Manipulation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>kebab-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(?&lt;!^)([A-Z])(?!$)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>-$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F38CE9A1-7DC9-4EB2-9517-6863889396B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>0573B8FD-6DED-44E8-ACA7-E5699F60142C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^a-zA-Z]</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>-</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>90DBD5E1-FB1C-46A4-92AB-BDC19CA95AD2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>030D5547-83F6-4958-948F-5A2F42B97AD7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>trim text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0D1177A0-34AE-45B2-80B6-D2BC47515C0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C34A1365-30C2-4F2C-9983-EA36667F2F1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>screaming snake-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>BEA5EED6-DC4F-48A8-94DC-85CD62B3046E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(?&lt;!^)([A-Z])(?!$)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>_$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6741721F-CB8B-48CA-80DF-EB4B1D28953B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>[^a-zA-Z]</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>_</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>022858CA-3A3C-4C6B-B5F1-788AE01FABF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>85718ACE-EA16-48D1-8D6A-3D1A90612E76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>lower-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C238D393-645D-46EA-88A1-BF6F225D8EE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6C2BEEC9-D2AD-4872-A808-3DC75B6F2CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>upper-case</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>B9742278-AF74-4748-AABD-EE87E58E96F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>63FFA124-E784-487C-A031-5A19E789322D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>text-length :  {query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>AE3DDC48-5F22-4AE4-82AC-F118CCD0062D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>text-length</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E995C538-B96F-4DAD-AB6B-EB71EB96F46A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>myvar="{query}"
size=${#myvar} 
echo "$size"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7594A180-EF3E-4FAB-AC06-7A8870ED9F2B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Case switching.</string>
	<key>uidata</key>
	<dict>
		<key>022858CA-3A3C-4C6B-B5F1-788AE01FABF6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>030D5547-83F6-4958-948F-5A2F42B97AD7</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>0573B8FD-6DED-44E8-ACA7-E5699F60142C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>0D1177A0-34AE-45B2-80B6-D2BC47515C0E</key>
		<dict>
			<key>note</key>
			<string>HelloWorld =&gt; hello-world</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>63FFA124-E784-487C-A031-5A19E789322D</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>6741721F-CB8B-48CA-80DF-EB4B1D28953B</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>6C2BEEC9-D2AD-4872-A808-3DC75B6F2CF4</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>7594A180-EF3E-4FAB-AC06-7A8870ED9F2B</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<dict>
			<key>note</key>
			<string>HelloWorld =&gt; hello-world</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>85718ACE-EA16-48D1-8D6A-3D1A90612E76</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>90DBD5E1-FB1C-46A4-92AB-BDC19CA95AD2</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>AE3DDC48-5F22-4AE4-82AC-F118CCD0062D</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>B9742278-AF74-4748-AABD-EE87E58E96F9</key>
		<dict>
			<key>note</key>
			<string>HelloWorld =&gt; HELLO-WORLD</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>BEA5EED6-DC4F-48A8-94DC-85CD62B3046E</key>
		<dict>
			<key>note</key>
			<string>HelloWorld =&gt; HELLO-WORLD</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>C238D393-645D-46EA-88A1-BF6F225D8EE7</key>
		<dict>
			<key>note</key>
			<string>HelloWorld =&gt; HELLO-WORLD</string>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>C34A1365-30C2-4F2C-9983-EA36667F2F1A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>E995C538-B96F-4DAD-AB6B-EB71EB96F46A</key>
		<dict>
			<key>note</key>
			<string>'text'.length</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>1170</integer>
		</dict>
		<key>F38CE9A1-7DC9-4EB2-9517-6863889396B0</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
