<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.file-enhancer</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1C678B7F-4E6E-4468-AA63-3C242326C99B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BC96501-D9E1-4A51-926A-A4D2B7866FC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23E50046-334E-4CB2-9FDE-96C0CC8239D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>350F8E24-DB4F-447E-B329-68CF8FDDE789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>350F8E24-DB4F-447E-B329-68CF8FDDE789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53362501-618C-4F8B-B446-B28C4C548AB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399B3A4B-008F-4212-B706-043EB7BD6DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C678B7F-4E6E-4468-AA63-3C242326C99B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53362501-618C-4F8B-B446-B28C4C548AB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD056944-2D4C-4E3D-BF5D-EF96F3E4AE39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B691B07-F4CA-4208-85DC-915E21423F64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BC96501-D9E1-4A51-926A-A4D2B7866FC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A29FF84-B010-4C62-A11E-8E6232F98D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399B3A4B-008F-4212-B706-043EB7BD6DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD056944-2D4C-4E3D-BF5D-EF96F3E4AE39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCCE1D1B-E013-441F-901B-62013D2A7A53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B691B07-F4CA-4208-85DC-915E21423F64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Copy your file details—name, size, and data conversion.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Enhancer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy FileName to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>8A29FF84-B010-4C62-A11E-8E6232F98D27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.+\/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>399B3A4B-008F-4212-B706-043EB7BD6DB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(\..[a-z]+)$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1C678B7F-4E6E-4468-AA63-3C242326C99B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7BC96501-D9E1-4A51-926A-A4D2B7866FC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
filesize=$(ls -lh "$query" | awk '{print $5}')
echo -n "${filesize}B"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B691B07-F4CA-4208-85DC-915E21423F64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy FileSize to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CCCE1D1B-E013-441F-901B-62013D2A7A53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied to clipboard</string>
				<key>title</key>
				<string>{var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD056944-2D4C-4E3D-BF5D-EF96F3E4AE39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
mimetype=$(file --mime-type "$query" -b)
openssl base64 -in "$query" | tr -d '\n' | echo "data:${mimetype};base64,$(cat -)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53362501-618C-4F8B-B446-B28C4C548AB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy File DataURL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>23E50046-334E-4CB2-9FDE-96C0CC8239D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>350F8E24-DB4F-447E-B329-68CF8FDDE789</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Effortlessly copy your file name, size, and data conversion.


## Requirement

```
brew install imagemagick

```

## Feat

1. Copy FileName without suffix to clipboard
2. Copy FileSize to clipboard
3. Convert file to DataURL and copy to clipboard</string>
	<key>uidata</key>
	<dict>
		<key>1C678B7F-4E6E-4468-AA63-3C242326C99B</key>
		<dict>
			<key>note</key>
			<string>remove suffix</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>23E50046-334E-4CB2-9FDE-96C0CC8239D4</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>350F8E24-DB4F-447E-B329-68CF8FDDE789</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>399B3A4B-008F-4212-B706-043EB7BD6DB6</key>
		<dict>
			<key>note</key>
			<string>remove path</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>53362501-618C-4F8B-B446-B28C4C548AB8</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>570250E1-F9FA-4B41-BFBE-412DD258DC44</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>7B691B07-F4CA-4208-85DC-915E21423F64</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>7BC96501-D9E1-4A51-926A-A4D2B7866FC3</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>8A29FF84-B010-4C62-A11E-8E6232F98D27</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>BD056944-2D4C-4E3D-BF5D-EF96F3E4AE39</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>CCCE1D1B-E013-441F-901B-62013D2A7A53</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/file-enhancer</string>
</dict>
</plist>
