<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pic.alanhe.me</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>141F8961-7B89-4BC5-9746-E8D86A3850A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4971FE38-3798-4A8B-B69D-1990D65C4816</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4971FE38-3798-4A8B-B69D-1990D65C4816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AD996E2-9A53-464F-8B4D-E19327553B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7FEDB0FF-5A72-413E-A312-A467178412A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A37E6EF4-A477-441C-B264-ACFC58B138E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A37E6EF4-A477-441C-B264-ACFC58B138E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02019F76-5359-48A2-A207-EED16BD84A24</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>141F8961-7B89-4BC5-9746-E8D86A3850A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE3C48D7-BC03-406A-ADA3-9C484051F827</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58A61CC-C85B-499A-9040-E5F9AEE54595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4B49DC49-CED5-4ED2-BEDA-E14394BC587C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE3C48D7-BC03-406A-ADA3-9C484051F827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>upload pic</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pic Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=`date +%F-%H%M%S`

query="{query}"

extension="${query##*.}"

filename="$d.$extension"

cp "$query" ./temp/$filename

echo -n $filename</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>year=`date +%Y`

ssh $user@$server "mkdir -p $destination/$year"

scp ./temp/{query} $user@$server:$destination/$year

if [ $? -eq 0 ];
then
  echo -n "![]($url/$year/{query})"
else
  echo -n 1
fi

rm -rf ./temp/*</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Uploaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F06D968-A68C-481E-83C0-7B45F509D2D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>something wrong, maybe ssh-key missing.</string>
				<key>title</key>
				<string>Upload fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E58A61CC-C85B-499A-9040-E5F9AEE54595</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>02019F76-5359-48A2-A207-EED16BD84A24</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A37E6EF4-A477-441C-B264-ACFC58B138E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Please take a pic first</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8AD996E2-9A53-464F-8B4D-E19327553B53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE3C48D7-BC03-406A-ADA3-9C484051F827</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4B49DC49-CED5-4ED2-BEDA-E14394BC587C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=`date +%F-%H%M%S`

filename="$d.jpeg"

./pngpaste/pngpaste ./temp/$filename || (echo "1"; exit 1);

echo -n $filename</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>141F8961-7B89-4BC5-9746-E8D86A3850A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7FEDB0FF-5A72-413E-A312-A467178412A1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4971FE38-3798-4A8B-B69D-1990D65C4816</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Upload pictures with one click

1. ssh keygen
    ```

	$ ssh-keygen -t rsa -C "youremail"

	```
2. copy public rsa to the target server
	
   copy to ~/.ssh/authorized_keys 

3. configure the alfred environment variable</string>
	<key>uidata</key>
	<dict>
		<key>141F8961-7B89-4BC5-9746-E8D86A3850A8</key>
		<dict>
			<key>note</key>
			<string>create pic from clipboard</string>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>4971FE38-3798-4A8B-B69D-1990D65C4816</key>
		<dict>
			<key>note</key>
			<string>pngpaste convert error</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</key>
		<dict>
			<key>note</key>
			<string>upload to server by SCP</string>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</key>
		<dict>
			<key>note</key>
			<string>create pic path from selection</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. upload copy pic to target server
2. set markdown url to clipboard</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8AD996E2-9A53-464F-8B4D-E19327553B53</key>
		<dict>
			<key>note</key>
			<string>exception</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>A37E6EF4-A477-441C-B264-ACFC58B138E0</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>BE3C48D7-BC03-406A-ADA3-9C484051F827</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>E58A61CC-C85B-499A-9040-E5F9AEE54595</key>
		<dict>
			<key>note</key>
			<string>upload error</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>destination</key>
		<string></string>
		<key>server</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>user</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>destination</string>
		<string>url</string>
		<string>server</string>
		<string>user</string>
	</array>
	<key>version</key>
	<string>1.4</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/pic-uploader</string>
</dict>
</plist>
