<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pic.alanhe.me</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0506B244-2B55-465B-9BE0-C3969ADD268D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>307E089C-FEEA-4AEC-8F51-62A35A608E76</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79B164F8-2392-47A5-B385-0D95F8ED0553</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4E21EC75-1DB7-43DD-8923-96DA6697BEE0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>141F8961-7B89-4BC5-9746-E8D86A3850A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4971FE38-3798-4A8B-B69D-1990D65C4816</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3053246A-6E9D-432D-A8D0-DBFE6AE8C6AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A37E6EF4-A477-441C-B264-ACFC58B138E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4971FE38-3798-4A8B-B69D-1990D65C4816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0506B244-2B55-465B-9BE0-C3969ADD268D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AD996E2-9A53-464F-8B4D-E19327553B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7FEDB0FF-5A72-413E-A312-A467178412A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0506B244-2B55-465B-9BE0-C3969ADD268D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EBCE7DB-D4DA-4B3D-A22D-940B6583971A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2DE8D9F-69FA-4584-A991-A7A7CA82EB61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79B164F8-2392-47A5-B385-0D95F8ED0553</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80B2D97D-A7D6-4A86-8245-4B3A5CD4FD68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80B2D97D-A7D6-4A86-8245-4B3A5CD4FD68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1EBEA64-04EB-43F2-9032-729E3CF18086</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9414D13B-3E06-43F2-8A37-A083F4F1CC9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE3C48D7-BC03-406A-ADA3-9C484051F827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1EBEA64-04EB-43F2-9032-729E3CF18086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3053246A-6E9D-432D-A8D0-DBFE6AE8C6AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A37E6EF4-A477-441C-B264-ACFC58B138E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02019F76-5359-48A2-A207-EED16BD84A24</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>141F8961-7B89-4BC5-9746-E8D86A3850A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B17DF40C-4617-48F9-AC8F-EF2A8D55AB84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80B2D97D-A7D6-4A86-8245-4B3A5CD4FD68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE3C48D7-BC03-406A-ADA3-9C484051F827</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB85B9D4-A469-4441-9728-7D634A5415EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9414D13B-3E06-43F2-8A37-A083F4F1CC9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58A61CC-C85B-499A-9040-E5F9AEE54595</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4B49DC49-CED5-4ED2-BEDA-E14394BC587C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D79C0F5A-82FB-420A-B02B-4954A8D5460F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09B418AB-E36C-4E1F-A8E0-141E63DEF116</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45FC7350-63E1-4798-B707-C7E137370471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>upload pic</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pic Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string></string>
					<string>com.compuserve.gif</string>
					<string>org.webmproject.webp</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Pic Uploader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B17DF40C-4617-48F9-AC8F-EF2A8D55AB84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F06D968-A68C-481E-83C0-7B45F509D2D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>[[ -d "${alfred_workflow_cache}" ]] || mkdir "${alfred_workflow_cache}"

d=`date +%F-%H%M%S`

query="{query}"

extension="${query##*.}"

filename="$d.$extension"

cp "$query" "$alfred_workflow_cache/$filename"

echo -n $filename</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Uploaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>upload to {var:server} , something wrong</string>
				<key>title</key>
				<string>Upload fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E58A61CC-C85B-499A-9040-E5F9AEE54595</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selection</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>80B2D97D-A7D6-4A86-8245-4B3A5CD4FD68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"b1252189aadc73bb508e933933528ae31b64597a.png","title":"VPS","arg":"vps"},{"imagefile":"c953f249e065226d289c6406706786efd47528ed.png","title":"Imgur","arg":"imgur"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A1EBEA64-04EB-43F2-9032-729E3CF18086</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./upload-vps.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D79C0F5A-82FB-420A-B02B-4954A8D5460F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>02019F76-5359-48A2-A207-EED16BD84A24</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A37E6EF4-A477-441C-B264-ACFC58B138E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:server}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>vps</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>307E089C-FEEA-4AEC-8F51-62A35A608E76</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:server}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>imgur</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4E21EC75-1DB7-43DD-8923-96DA6697BEE0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0506B244-2B55-465B-9BE0-C3969ADD268D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Please take a pic first</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8AD996E2-9A53-464F-8B4D-E19327553B53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:selection}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>server</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3053246A-6E9D-432D-A8D0-DBFE6AE8C6AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4B49DC49-CED5-4ED2-BEDA-E14394BC587C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>09B418AB-E36C-4E1F-A8E0-141E63DEF116</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./upload-imgur.js {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79B164F8-2392-47A5-B385-0D95F8ED0553</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[[ -d "${alfred_workflow_cache}" ]] || mkdir "${alfred_workflow_cache}"

d=`date +%F-%H%M%S`

filename="$d.jpeg"

/usr/local/bin/pngpaste "$alfred_workflow_cache/$filename"


echo -n $filename</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>141F8961-7B89-4BC5-9746-E8D86A3850A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7FEDB0FF-5A72-413E-A312-A467178412A1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4971FE38-3798-4A8B-B69D-1990D65C4816</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>rm -rf $alfred_workflow_cache/*</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45FC7350-63E1-4798-B707-C7E137370471</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE3C48D7-BC03-406A-ADA3-9C484051F827</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Markdown Image Link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EB85B9D4-A469-4441-9728-7D634A5415EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query={query}

echo "![$query]($query)"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9414D13B-3E06-43F2-8A37-A083F4F1CC9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/alanhg/alfred-workflows/master/pic-uploader/src/info.plist"
readonly workflow_url="https://github.com/alanhg/alfred-workflows/raw/master/pic-uploader/Pic%20Uploader.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='0'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type f -name 'notificator')"

  if [[ -f "${notificator}" &amp;&amp; "$(/usr/bin/file --brief --mime-type "${notificator}")" == 'text/x-shellscript' ]]; then
    "${notificator}" --message "${1}" --title "${alfred_workflow_name}" --subtitle "${2:-A new version is available}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"${2:-A new version is available}\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  # Remote sanity check
  if ! url_exists "${remote_info_plist}"; then
    abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."
  fi

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"
  rm "${tmp_file}"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    notification 'You are up to date…' ' '
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  readonly download_url="$(
    if [[ "${download_type}" == 'github_release' ]]; then
      osascript -l JavaScript -e 'function run(argv) { return JSON.parse(argv[0])["assets"].find(asset =&gt; asset["browser_download_url"].endsWith(".alfredworkflow"))["browser_download_url"] }' "$(curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest")"
    else
      echo "${workflow_url}"
    fi
  )"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    readonly download_name="$(basename "${download_url}")"
    curl --silent --location --output "${HOME}/Downloads/${download_name}" "${download_url}"
    open "${HOME}/Downloads/${download_name}"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2DE8D9F-69FA-4584-A991-A7A7CA82EB61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:updatepicupdater</string>
				<key>subtext</key>
				<string>Check for updates and install them if they exist</string>
				<key>text</key>
				<string>Update Pic Uploader</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EBCE7DB-D4DA-4B3D-A22D-940B6583971A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Upload pictures with one click, support upload to imgur or vps


## requirement

brew install pngpaste


## VPS uploader setting

configure the alfred environment variable

- user
- password
- destination
 
### connection test

`ssh -p 22 ${process.env.vps_user}@${process.env.vps_server}`


## Imgur Uploader setting
1. https://api.imgur.com/oauth2/addclient
   get clientId
2. configure the alfred environment variable

https://apidocs.imgur.com/</string>
	<key>uidata</key>
	<dict>
		<key>0506B244-2B55-465B-9BE0-C3969ADD268D</key>
		<dict>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>09B418AB-E36C-4E1F-A8E0-141E63DEF116</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>141F8961-7B89-4BC5-9746-E8D86A3850A8</key>
		<dict>
			<key>note</key>
			<string>create pic from clipboard</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>3053246A-6E9D-432D-A8D0-DBFE6AE8C6AE</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>45FC7350-63E1-4798-B707-C7E137370471</key>
		<dict>
			<key>note</key>
			<string>delete temp pics</string>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>4971FE38-3798-4A8B-B69D-1990D65C4816</key>
		<dict>
			<key>note</key>
			<string>pngpaste convert error</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>68D6AFE6-235B-4EEF-A904-B9358FF8B94C</key>
		<dict>
			<key>note</key>
			<string>upload to server by SCP</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>6DDA8B25-8BA3-44A7-9108-60CC23C7CD94</key>
		<dict>
			<key>note</key>
			<string>create pic path from selection</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>6EBCE7DB-D4DA-4B3D-A22D-940B6583971A</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>79B164F8-2392-47A5-B385-0D95F8ED0553</key>
		<dict>
			<key>note</key>
			<string>upload to imgur</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. upload copy pic to target server
2. set markdown url to clipboard</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>80B2D97D-A7D6-4A86-8245-4B3A5CD4FD68</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>8AD996E2-9A53-464F-8B4D-E19327553B53</key>
		<dict>
			<key>note</key>
			<string>exception</string>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>9414D13B-3E06-43F2-8A37-A083F4F1CC9A</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>A1EBEA64-04EB-43F2-9032-729E3CF18086</key>
		<dict>
			<key>note</key>
			<string>uploader chooser</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A37E6EF4-A477-441C-B264-ACFC58B138E0</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>B17DF40C-4617-48F9-AC8F-EF2A8D55AB84</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BE3C48D7-BC03-406A-ADA3-9C484051F827</key>
		<dict>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>D06D3C5F-4081-47FD-BA59-59EDAC4441C7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1600</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>D79C0F5A-82FB-420A-B02B-4954A8D5460F</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>E58A61CC-C85B-499A-9040-E5F9AEE54595</key>
		<dict>
			<key>note</key>
			<string>upload error</string>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>EB85B9D4-A469-4441-9728-7D634A5415EB</key>
		<dict>
			<key>note</key>
			<string>![]()</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>F2DE8D9F-69FA-4584-A991-A7A7CA82EB61</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>945</integer>
		</dict>
		<key>F4B7CED6-DF9C-4269-B412-93E048D0AE4E</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>destination</key>
		<string></string>
		<key>imgur_client_id</key>
		<string></string>
		<key>imgur_client_secret</key>
		<string></string>
		<key>imgur_refresh_token</key>
		<string></string>
		<key>vps_destination</key>
		<string></string>
		<key>vps_server</key>
		<string></string>
		<key>vps_url</key>
		<string></string>
		<key>vps_user</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>imgur_client_id</string>
		<string>destination</string>
		<string>vps_destination</string>
		<string>vps_url</string>
		<string>vps_user</string>
		<string>vps_server</string>
		<string>imgur_client_secret</string>
		<string>imgur_refresh_token</string>
	</array>
	<key>version</key>
	<string>2.5</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/pic-uploader</string>
</dict>
</plist>
