<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.compress-gif</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>36314461-8FEE-479B-97F5-C9EFC23E8329</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B258138-E893-4EB1-BBAF-0767B6496A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>401D924A-DF04-4FB7-BAE2-1D042EBAC660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52EB62D9-B694-490C-99F7-B16141A2550D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52EB62D9-B694-490C-99F7-B16141A2550D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36314461-8FEE-479B-97F5-C9EFC23E8329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69D9815D-9617-4900-86F5-6A004D56224F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Compress Size</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Compress GIF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Compress GIF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>401D924A-DF04-4FB7-BAE2-1D042EBAC660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  tell application "Finder" to set theItems to selectionrepeat with itemRef in theItems	set myitem to POSIX path of (itemRef as string)end repeat -- it will store the last filename in selection
  return myitem
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52EB62D9-B694-490C-99F7-B16141A2550D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>full_path={query}
pth=$( echo ${full_path%/*} )
d=`date +%F-%H%M%S`
file_name="${full_path##*/}"
file="${file_name%.*}"
target="$pth/$file-opt.gif"

/usr/local/bin/gifsicle -i $full_path -O3 --colors $colors --scale $scale -o $target

echo $target</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36314461-8FEE-479B-97F5-C9EFC23E8329</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Compressed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B258138-E893-4EB1-BBAF-0767B6496A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\.gif$</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7167E3C7-58D7-4F1D-8D45-9329BDA86695</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Please select a gif!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>69D9815D-9617-4900-86F5-6A004D56224F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Compress your GIF


## install

- brew install gifsicle</string>
	<key>uidata</key>
	<dict>
		<key>1B258138-E893-4EB1-BBAF-0767B6496A9E</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>36314461-8FEE-479B-97F5-C9EFC23E8329</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>401D924A-DF04-4FB7-BAE2-1D042EBAC660</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>52EB62D9-B694-490C-99F7-B16141A2550D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>69D9815D-9617-4900-86F5-6A004D56224F</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>C157D1E4-BF04-4FC9-AE51-AEF67C3A3ADD</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>colors</key>
		<string>256</string>
		<key>scale</key>
		<string>0.8</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
