<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>demo.alanhe.tech</string>
	<key>connections</key>
	<dict>
		<key>1CCE0F12-F86A-439F-88CF-E5B30CF0A7E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>916DBABD-36AC-47B7-9D52-784FA87C24D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67C2BC4B-19E4-43C8-863A-1E7C3E3AF897</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36E5D530-D1E0-4656-9BAE-8D10FC4FC279</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993308A0-39B1-4E2F-A371-D643113A347A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ECAC23A-0B1E-47D2-8C82-4A8654E7B628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DE350E1-7D90-42B1-8EF3-E378698153EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1889E7-EFA3-4DBF-8032-68C5C5497C78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02987E64-6F40-4417-87C5-DF19CA04BA7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B5C71AF-7585-45C0-B279-BEDA3A9067BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FAEE040-4CD1-4437-9FEA-2A5FBE0C68DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE350E1-7D90-42B1-8EF3-E378698153EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B5C71AF-7585-45C0-B279-BEDA3A9067BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>916DBABD-36AC-47B7-9D52-784FA87C24D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F20CC6F-BB31-486E-9644-FC45BAAD75EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993308A0-39B1-4E2F-A371-D643113A347A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4ED30EC-47CF-4285-A596-0A053FBF11D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>alfred-demo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>git</string>
				<key>subtext</key>
				<string>Clone Github Repository</string>
				<key>text</key>
				<string>Git Clone</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B1889E7-EFA3-4DBF-8032-68C5C5497C78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~
git clone `pbpaste`</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>02987E64-6F40-4417-87C5-DF19CA04BA7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Wish you a happy movie</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F4ED30EC-47CF-4285-A596-0A053FBF11D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>993308A0-39B1-4E2F-A371-D643113A347A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>yy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait...</string>
				<key>script</key>
				<string>/usr/local/bin/node yy.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in yy</string>
				<key>title</key>
				<string>movie search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>36E5D530-D1E0-4656-9BAE-8D10FC4FC279</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0FAEE040-4CD1-4437-9FEA-2A5FBE0C68DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>6B5C71AF-7585-45C0-B279-BEDA3A9067BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>~/Desktop/m.txt</string>
				<key>filetext</key>
				<string>{clipboard}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>6DE350E1-7D90-42B1-8EF3-E378698153EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Txt","arg":"txt"},{"title":"JSON","arg":"json"}]</string>
				<key>keyword</key>
				<string>makefile</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>select file type</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>4ECAC23A-0B1E-47D2-8C82-4A8654E7B628</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~
for dir in $(ls -d */)
do
  cd $dir
  echo "into $dir"
  if [ -d ".git" ]; then
     git fetch
   fi
  cd ..
done</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>916DBABD-36AC-47B7-9D52-784FA87C24D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gf</string>
				<key>subtext</key>
				<string>be better</string>
				<key>text</key>
				<string>Git fetch GitLab code</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1CCE0F12-F86A-439F-88CF-E5B30CF0A7E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Pull code completed
Pull code completion
Pull code completion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9F20CC6F-BB31-486E-9644-FC45BAAD75EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>please wait</string>
				<key>title</key>
				<string>Pulling</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67C2BC4B-19E4-43C8-863A-1E7C3E3AF897</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>02987E64-6F40-4417-87C5-DF19CA04BA7A</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>0FAEE040-4CD1-4437-9FEA-2A5FBE0C68DC</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>1CCE0F12-F86A-439F-88CF-E5B30CF0A7E3</key>
		<dict>
			<key>note</key>
			<string>git fetch projects</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>36E5D530-D1E0-4656-9BAE-8D10FC4FC279</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>4ECAC23A-0B1E-47D2-8C82-4A8654E7B628</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>67C2BC4B-19E4-43C8-863A-1E7C3E3AF897</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>6B1889E7-EFA3-4DBF-8032-68C5C5497C78</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>6B5C71AF-7585-45C0-B279-BEDA3A9067BB</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>6DE350E1-7D90-42B1-8EF3-E378698153EB</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>916DBABD-36AC-47B7-9D52-784FA87C24D4</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>993308A0-39B1-4E2F-A371-D643113A347A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>9F20CC6F-BB31-486E-9644-FC45BAAD75EA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>F4ED30EC-47CF-4285-A596-0A053FBF11D6</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
