<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.file-enhancer</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>1C678B7F-4E6E-4468-AA63-3C242326C99B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>399B3A4B-008F-4212-B706-043EB7BD6DB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C678B7F-4E6E-4468-AA63-3C242326C99B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A29FF84-B010-4C62-A11E-8E6232F98D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399B3A4B-008F-4212-B706-043EB7BD6DB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>enhance file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Enhancer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy Filename to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>8A29FF84-B010-4C62-A11E-8E6232F98D27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>570250E1-F9FA-4B41-BFBE-412DD258DC44</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.+\/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>399B3A4B-008F-4212-B706-043EB7BD6DB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(\..[a-z]+)$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1C678B7F-4E6E-4468-AA63-3C242326C99B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>copy file name without suffix.</string>
	<key>uidata</key>
	<dict>
		<key>1C678B7F-4E6E-4468-AA63-3C242326C99B</key>
		<dict>
			<key>note</key>
			<string>remove suffix</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>399B3A4B-008F-4212-B706-043EB7BD6DB6</key>
		<dict>
			<key>note</key>
			<string>remove path</string>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>570250E1-F9FA-4B41-BFBE-412DD258DC44</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>8A29FF84-B010-4C62-A11E-8E6232F98D27</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
