<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.doc-converter</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>0AC0466F-7555-455A-B5B5-3393DE33B5AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BCACAE6-C65D-407C-8E70-312B421E538F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BCACAE6-C65D-407C-8E70-312B421E538F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC5B67B7-5AAE-498E-9EC1-CCDEFE132A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C97B42A7-2030-47E0-9468-5BC6AB79E4C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E01ED15D-0EE7-4CB6-8A04-7BE1286A6FE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E01ED15D-0EE7-4CB6-8A04-7BE1286A6FE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC5B67B7-5AAE-498E-9EC1-CCDEFE132A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Doc Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input="$1"
output="${input%.*}.txt"  # 自动根据输入文件名改成 .txt

pandoc "$input" -t plain -o "$output" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E01ED15D-0EE7-4CB6-8A04-7BE1286A6FE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>org.openxmlformats.wordprocessingml.document</string>
				</array>
				<key>name</key>
				<string>docx to txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C97B42A7-2030-47E0-9468-5BC6AB79E4C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>DC5B67B7-5AAE-498E-9EC1-CCDEFE132A88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>input="$1"
output="${input%.*}.pdf" 

pandoc "$input" -o "$output" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BCACAE6-C65D-407C-8E70-312B421E538F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>org.openxmlformats.wordprocessingml.document</string>
				</array>
				<key>name</key>
				<string>docx to pdf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>0AC0466F-7555-455A-B5B5-3393DE33B5AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Support docx to text, pdf.

## Requirement

brew install pandoc</string>
	<key>uidata</key>
	<dict>
		<key>0AC0466F-7555-455A-B5B5-3393DE33B5AE</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>1BCACAE6-C65D-407C-8E70-312B421E538F</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C97B42A7-2030-47E0-9468-5BC6AB79E4C3</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>DC5B67B7-5AAE-498E-9EC1-CCDEFE132A88</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>E01ED15D-0EE7-4CB6-8A04-7BE1286A6FE5</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
