<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.paste2Files</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>25B6709D-C550-4798-B2FE-CE4610ABE4A6</key>
		<array/>
		<key>3486ED42-3BF3-414E-B743-89AB7114D06C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4970D682-8B12-40F9-9849-BD67C73AE24C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8DF82D57-BC24-48E8-8949-6630958194D9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25B6709D-C550-4798-B2FE-CE4610ABE4A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C04D85AE-BAAE-44BA-A9FF-FEE54B3671A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3486ED42-3BF3-414E-B743-89AB7114D06C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2B9D028-E51B-413F-ACBD-C90276FFB239</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C04D85AE-BAAE-44BA-A9FF-FEE54B3671A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste into files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please copy content first or Desc not exist</string>
				<key>title</key>
				<string>Paste Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4970D682-8B12-40F9-9849-BD67C73AE24C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>d=`date +%F-%H%M%S`
filename="$d.jpeg"
file="$DEST_DIR/$filename"
file="${file//\~/$HOME}"

/usr/local/bin/pngpaste $file &amp;&amp; echo $file || echo -n 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C04D85AE-BAAE-44BA-A9FF-FEE54B3671A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>paste</string>
				<key>subtext</key>
				<string>img</string>
				<key>text</key>
				<string>Paste into files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2B9D028-E51B-413F-ACBD-C90276FFB239</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>8DF82D57-BC24-48E8-8949-6630958194D9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3486ED42-3BF3-414E-B743-89AB7114D06C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>25B6709D-C550-4798-B2FE-CE4610ABE4A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>paste into files

1. paste into image file with jpeg suffix


## install

1. brew install pngpaste</string>
	<key>uidata</key>
	<dict>
		<key>25B6709D-C550-4798-B2FE-CE4610ABE4A6</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>3486ED42-3BF3-414E-B743-89AB7114D06C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>4970D682-8B12-40F9-9849-BD67C73AE24C</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C04D85AE-BAAE-44BA-A9FF-FEE54B3671A0</key>
		<dict>
			<key>note</key>
			<string>read pic from clipboard</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D2B9D028-E51B-413F-ACBD-C90276FFB239</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEST_DIR</key>
		<string>~/Desktop</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
