<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.applescript</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>378352A3-DA63-4838-8EE9-D7F2C07FF483</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA2C4DEB-0AAE-4C4B-8179-0554F502402A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppleScript Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here


set myFiles to (choose file with multiple selections allowed)

display dialog "Text to replace" default answer ""
   set textToReplace to text returned of result

display dialog "Text to insert" default answer ""
   set textToInsert to text returned of result

repeat with aFile in myFiles
   set myData to do shell script "cat " &amp; quoted form of (aFile's POSIX path)
   set newData to do shell script "echo " &amp; quoted form of myData &amp; " | sed 's/" &amp; textToReplace &amp; "/" &amp; textToInsert &amp; "/g' &gt; " &amp; quoted form of (aFile's POSIX path)
end repeat

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DA2C4DEB-0AAE-4C4B-8179-0554F502402A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>as</string>
				<key>subtext</key>
				<string>Replace some text</string>
				<key>text</key>
				<string>Apple Script</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>378352A3-DA63-4838-8EE9-D7F2C07FF483</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>some tools about apple script.</string>
	<key>uidata</key>
	<dict>
		<key>378352A3-DA63-4838-8EE9-D7F2C07FF483</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>DA2C4DEB-0AAE-4C4B-8179-0554F502402A</key>
		<dict>
			<key>note</key>
			<string>batch replace</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
