<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.airdrop</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>06157B6F-144E-4DB2-A3ED-97A0231C6BA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D6A4BA1-4450-4719-9D35-EC8E52AFCC6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E470861E-C1C3-4EDA-9DC4-0E9F4500DF9C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E132D993-DFA1-4D18-8E8F-1E19D7073AE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>06AE249A-313F-494E-8291-3DCDB8A98D78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBB4E0F7-8119-4917-BD9B-A6764F833418</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>195C1B8D-C397-4BF6-8FF2-2356AF31347A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F95E769-44E9-4B3F-9CF3-031C44EECDA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2479F7D9-DA44-4F6A-8ACA-22A1D7CBCCF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F21E3D69-BDA5-4CF8-ADD1-50C2D61368FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>395D4FF3-7EFC-4BEB-B456-910F98800B5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2479F7D9-DA44-4F6A-8ACA-22A1D7CBCCF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>705AB63E-8447-449C-A1D8-0EC99A9C1BC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F497DB5-C783-41DC-BC77-32AEAB33287D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DEADF640-D311-4C71-8573-31BB13D5945B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A08BACCD-90EB-42B9-934C-CC35C2DFE22D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D260F753-F7A3-41BE-816E-9FCB86F3A7D1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6CC4C999-29AE-4AF4-BA87-E3D270C5673D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F95E769-44E9-4B3F-9CF3-031C44EECDA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>395D4FF3-7EFC-4BEB-B456-910F98800B5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>867EC047-018A-4663-8AE9-C262B0E2FF9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>195C1B8D-C397-4BF6-8FF2-2356AF31347A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90913B4D-D313-4CD0-AFCF-6AB8B82D173C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4852CCD-ED13-4407-824B-2BDBB14C7003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A08BACCD-90EB-42B9-934C-CC35C2DFE22D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06157B6F-144E-4DB2-A3ED-97A0231C6BA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A81E5AB6-F162-4EA2-B3BB-6A43631CBC6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06157B6F-144E-4DB2-A3ED-97A0231C6BA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F21E3D69-BDA5-4CF8-ADD1-50C2D61368FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A81E5AB6-F162-4EA2-B3BB-6A43631CBC6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4852CCD-ED13-4407-824B-2BDBB14C7003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06AE249A-313F-494E-8291-3DCDB8A98D78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBB4E0F7-8119-4917-BD9B-A6764F833418</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>705AB63E-8447-449C-A1D8-0EC99A9C1BC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Share Files With AirDrop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Airdrop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>airdrop</string>
				<key>subtext</key>
				<string>Share Files With Airdrop</string>
				<key>text</key>
				<string>Airdrop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90913B4D-D313-4CD0-AFCF-6AB8B82D173C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
return user locale of (get system info)
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F4852CCD-ED13-4407-824B-2BDBB14C7003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>LANG</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06AE249A-313F-494E-8291-3DCDB8A98D78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	tell process "Chrome"		set frontmost to true				# File=&gt;Share=&gt;AirDrop		click menu item "AirDrop" of menu of menu item "Share" of menu "File" of menu bar 1	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F497DB5-C783-41DC-BC77-32AEAB33287D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Finder"
		set shareButton to (first button whose description is "共享") of toolbar 1 of window 1
		ignoring application responses
			click shareButton
			delay 0.1
		end ignoring
	end tell
end tell

do shell script "killall System\\ Events"

tell application "System Events"
	click (menu item "隔空投送") of menu 1 of shareButton
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D6A4BA1-4450-4719-9D35-EC8E52AFCC6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder"
	set sel to get the selection
	
	if (sel is {}) then
		log "Nothing selected! Can't proceed"
		return
	end if
	
	set parentPath to (container of item 1 of sel) as alias
	set desktopPath to (path to desktop folder)
	if desktopPath is equal to parentPath then reveal sel
	
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A08BACCD-90EB-42B9-934C-CC35C2DFE22D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:LANG}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>zh_CN</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E470861E-C1C3-4EDA-9DC4-0E9F4500DF9C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>06157B6F-144E-4DB2-A3ED-97A0231C6BA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https?://</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>DEADF640-D311-4C71-8573-31BB13D5945B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\*\*file\*\*</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>D260F753-F7A3-41BE-816E-9FCB86F3A7D1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>705AB63E-8447-449C-A1D8-0EC99A9C1BC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
 tell application "System Events" to keystroke "c" using {command down}
delay 0.1 -- so copy can take place

if ((clipboard info) as string) contains "«class furl»" then
	set selected_text to "**file**"
else
	set selected_text to (the clipboard as text)
end if

return selected_text
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBB4E0F7-8119-4917-BD9B-A6764F833418</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
	tell process "Finder"
		set shareButton to (first button whose description is "Share") of toolbar 1 of window 1
		ignoring application responses
			click shareButton
			delay 0.1
		end ignoring
	end tell
end tell

do shell script "killall System\\ Events"

tell application "System Events"
	click (menu item "AirDrop") of menu 1 of shareButton
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E132D993-DFA1-4D18-8E8F-1E19D7073AE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>url or files</string>
				<key>title</key>
				<string>Please select first</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6CC4C999-29AE-4AF4-BA87-E3D270C5673D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set pathList to {}

  repeat with pathString in argv
    copy ((POSIX file pathString) as alias) to the end of the pathList
  end repeat

  tell application "Finder" to select pathList
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A81E5AB6-F162-4EA2-B3BB-6A43631CBC6C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>F21E3D69-BDA5-4CF8-ADD1-50C2D61368FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:selectedFiles}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>LANG</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2479F7D9-DA44-4F6A-8ACA-22A1D7CBCCF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
return user locale of (get system info)
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>395D4FF3-7EFC-4BEB-B456-910F98800B5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Share Files With AirDrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>867EC047-018A-4663-8AE9-C262B0E2FF9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selectedFiles</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7F95E769-44E9-4B3F-9CF3-031C44EECDA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>195C1B8D-C397-4BF6-8FF2-2356AF31347A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; One click to evoke airdrop and send the selected something to the target device

- Currently only supports English and Simplified Chinese
- You can share file、photo、url.
- Support File Action
  - Support multi file selection.


Support Catalina、Big Sur</string>
	<key>uidata</key>
	<dict>
		<key>06157B6F-144E-4DB2-A3ED-97A0231C6BA2</key>
		<dict>
			<key>note</key>
			<string>file
Considering the i18n of the GUI</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>06AE249A-313F-494E-8291-3DCDB8A98D78</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>0D6A4BA1-4450-4719-9D35-EC8E52AFCC6B</key>
		<dict>
			<key>note</key>
			<string>CN
share files</string>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>195C1B8D-C397-4BF6-8FF2-2356AF31347A</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>2479F7D9-DA44-4F6A-8ACA-22A1D7CBCCF5</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>395D4FF3-7EFC-4BEB-B456-910F98800B5D</key>
		<dict>
			<key>note</key>
			<string>Get System Language</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>5F497DB5-C783-41DC-BC77-32AEAB33287D</key>
		<dict>
			<key>note</key>
			<string>url</string>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>6CC4C999-29AE-4AF4-BA87-E3D270C5673D</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>705AB63E-8447-449C-A1D8-0EC99A9C1BC8</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>7F95E769-44E9-4B3F-9CF3-031C44EECDA8</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>867EC047-018A-4663-8AE9-C262B0E2FF9E</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>90913B4D-D313-4CD0-AFCF-6AB8B82D173C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>A08BACCD-90EB-42B9-934C-CC35C2DFE22D</key>
		<dict>
			<key>note</key>
			<string>reveal by selected files</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A81E5AB6-F162-4EA2-B3BB-6A43631CBC6C</key>
		<dict>
			<key>note</key>
			<string>reveal files in finder</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>E132D993-DFA1-4D18-8E8F-1E19D7073AE2</key>
		<dict>
			<key>note</key>
			<string>EN
share files</string>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>F21E3D69-BDA5-4CF8-ADD1-50C2D61368FC</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>F4852CCD-ED13-4407-824B-2BDBB14C7003</key>
		<dict>
			<key>note</key>
			<string>Get System Language</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>FBB4E0F7-8119-4917-BD9B-A6764F833418</key>
		<dict>
			<key>note</key>
			<string>current selected</string>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.8</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/airdrop</string>
</dict>
</plist>
