<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.whistle</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>30D803D0-E21E-46BC-A8DA-347C1CC19AEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>795632DF-8E0D-46A1-8D7A-04E7327568F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3663A43F-E7D9-407D-950D-9DB3D22228B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDB82DA2-C61F-4C9D-AD52-D69759532762</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>423180BB-76D0-424B-A500-A7CB720B9B5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>518D397F-C8CE-4C0E-B2CA-8F1BA5703803</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBEF2157-E76A-4FB4-BA8D-8BB5AFA58CCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3663A43F-E7D9-407D-950D-9DB3D22228B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30D803D0-E21E-46BC-A8DA-347C1CC19AEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87454A99-5384-4D62-B3A3-E85E9BA6FA52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2068757-3F96-4B84-9A3F-1EFD8B578C4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C25F40C1-2C15-4BCF-8F80-3C2BBC70CA9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62CA5AD5-40A3-418C-B546-753F1EDD9907</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BB4A7EB-46B6-4F8F-ABC8-1242CB1D010C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A2A52332-1F77-42BF-B0EE-4360F5F1E691</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91D22021-41E7-4769-BA48-8F025DF64404</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C85549CB-DFCC-4A79-A08F-12D47D4C0F1C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A06CD71A-6778-48AB-A9FB-AE6515F7552E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>518D397F-C8CE-4C0E-B2CA-8F1BA5703803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E771362D-58D5-45B7-AE1B-A3B6126F24B7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>518D397F-C8CE-4C0E-B2CA-8F1BA5703803</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>81B42B49-8335-463D-B005-3E33F4D075A9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD42B648-2B65-477E-929E-CC00905A458A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View on dashboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>87454A99-5384-4D62-B3A3-E85E9BA6FA52</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>View Rule</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C25F40C1-2C15-4BCF-8F80-3C2BBC70CA9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C77FA813-2DA6-4948-869A-B9C4E57C0295</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>423180BB-76D0-424B-A500-A7CB720B9B5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2BDBB31-7558-4AC8-8099-698959B5E2F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD42B648-2B65-477E-929E-CC00905A458A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>select rules</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Whistle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>node ./settings $URL</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>npm i whistle@latest -g</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>C77FA813-2DA6-4948-869A-B9C4E57C0295</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>w2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E2BDBB31-7558-4AC8-8099-698959B5E2F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>installNewVersion</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C25F40C1-2C15-4BCF-8F80-3C2BBC70CA9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_settings</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:path}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rules</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>62CA5AD5-40A3-418C-B546-753F1EDD9907</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>service_unavailable</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>E771362D-58D5-45B7-AE1B-A3B6126F24B7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_stop</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>C85549CB-DFCC-4A79-A08F-12D47D4C0F1C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_global_proxy</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A2A52332-1F77-42BF-B0EE-4360F5F1E691</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_restart</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>81B42B49-8335-463D-B005-3E33F4D075A9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>node ./do-settings.js $URL '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>423180BB-76D0-424B-A500-A7CB720B9B5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>node ./select-rules.js $URL '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>npx @stacker/whistle.globalproxy set --port $port --host $host</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BB4A7EB-46B6-4F8F-ABC8-1242CB1D010C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>w2</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string>[[ -d "${alfred_workflow_cache}" ]] || mkdir -p "${alfred_workflow_cache}"

node ./index.js $URL "${alfred_workflow_cache}" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>Select rules</string>
				<key>title</key>
				<string>Whistle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD42B648-2B65-477E-929E-CC00905A458A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>w2 stop</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91D22021-41E7-4769-BA48-8F025DF64404</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>3663A43F-E7D9-407D-950D-9DB3D22228B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/$</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:URL}#{var:path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A06CD71A-6778-48AB-A9FB-AE6515F7552E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ "{query}" == "service_unavailable" ]; then
 if [ -n "$SOCKS_PORT" ]; then
  w2 start --socksPort=$SOCKS_PORT
  else
  w2 start
 fi
else
 if [ -n "$SOCKS_PORT" ]; then
  w2 restart --socksPort=$SOCKS_PORT
  else
  w2 restart
 fi
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>518D397F-C8CE-4C0E-B2CA-8F1BA5703803</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>w2</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CBEF2157-E76A-4FB4-BA8D-8BB5AFA58CCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:keyword}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>30D803D0-E21E-46BC-A8DA-347C1CC19AEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:URL}#{var:path}?ruleName={var:ruleName}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDB82DA2-C61F-4C9D-AD52-D69759532762</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:ruleContent}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>87454A99-5384-4D62-B3A3-E85E9BA6FA52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>w2</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>795632DF-8E0D-46A1-8D7A-04E7327568F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Whistle Rule</string>
				<key>inputfile</key>
				<string>view-rule</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>A2068757-3F96-4B84-9A3F-1EFD8B578C4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; Quick Switching and Selecting Proxy Rules

## Requirement


1. brew install whistle

## Usage

Type `w2` to trigger.


- `⌥ ⏎`Access the WEB management page.
- `⏎` Toggle the rule selection status.
- `⌘` ⏎` Preview the rule.
- `⌘ C` Copy the specific configuration of the current rule.
- Enter keywords to filter dropdown options, supports Chinese Pinyin search.
- Partial settings [Multiple rule selection [x], Version update check].
- Enter the keyword `selected` to filter rules that match.


## Config
If you need SOCKS proxy, configure SOCKS_PORT.</string>
	<key>uidata</key>
	<dict>
		<key>1BB4A7EB-46B6-4F8F-ABC8-1242CB1D010C</key>
		<dict>
			<key>note</key>
			<string>set whistle as global proxy</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>30D803D0-E21E-46BC-A8DA-347C1CC19AEB</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>3663A43F-E7D9-407D-950D-9DB3D22228B4</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>423180BB-76D0-424B-A500-A7CB720B9B5A</key>
		<dict>
			<key>note</key>
			<string>select rules</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>518D397F-C8CE-4C0E-B2CA-8F1BA5703803</key>
		<dict>
			<key>note</key>
			<string>w2 start</string>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>795632DF-8E0D-46A1-8D7A-04E7327568F2</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</key>
		<dict>
			<key>note</key>
			<string>select rules</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>87454A99-5384-4D62-B3A3-E85E9BA6FA52</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</key>
		<dict>
			<key>note</key>
			<string>settings</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>91D22021-41E7-4769-BA48-8F025DF64404</key>
		<dict>
			<key>note</key>
			<string>stop whistle</string>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>A06CD71A-6778-48AB-A9FB-AE6515F7552E</key>
		<dict>
			<key>note</key>
			<string>open url</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>A2068757-3F96-4B84-9A3F-1EFD8B578C4F</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>BD42B648-2B65-477E-929E-CC00905A458A</key>
		<dict>
			<key>note</key>
			<string>list rules</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C25F40C1-2C15-4BCF-8F80-3C2BBC70CA9A</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>C77FA813-2DA6-4948-869A-B9C4E57C0295</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CBEF2157-E76A-4FB4-BA8D-8BB5AFA58CCA</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>E2BDBB31-7558-4AC8-8099-698959B5E2F4</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>FDB82DA2-C61F-4C9D-AD52-D69759532762</key>
		<dict>
			<key>note</key>
			<string>open rules url</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>http://127.0.0.1:8899</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>eg: 8900</string>
			<key>label</key>
			<string>Socks Port</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SOCKS_PORT</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.15</string>
	<key>webaddress</key>
	<string>https://github.com/alanhg/alfred-workflows/tree/master/whistle</string>
</dict>
</plist>
