<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.process</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>170B13B0-26A2-4522-B6FA-B473EAFE090D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62A38D83-68C4-4DD0-A7E5-857E46F2EDD0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Kill Process</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62A38D83-68C4-4DD0-A7E5-857E46F2EDD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D612EE96-4027-4A27-93B5-8BDF4760BD44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>List All Process</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Process</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>process</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>process</string>
				<key>title</key>
				<string>process</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>170B13B0-26A2-4522-B6FA-B473EAFE090D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>PID {query}, Port:{var:port}</string>
				<key>title</key>
				<string>Process Killed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D612EE96-4027-4A27-93B5-8BDF4760BD44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill -9 {query}
echo {query}|tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62A38D83-68C4-4DD0-A7E5-857E46F2EDD0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; check all the ports in use mac and kill someone

1. type `process` to tigger
2. ⌥ ⏎ to kill process

# install

brew install node</string>
	<key>uidata</key>
	<dict>
		<key>170B13B0-26A2-4522-B6FA-B473EAFE090D</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>62A38D83-68C4-4DD0-A7E5-857E46F2EDD0</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>D612EE96-4027-4A27-93B5-8BDF4760BD44</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
