<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.whistle</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>3663A43F-E7D9-407D-950D-9DB3D22228B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDB82DA2-C61F-4C9D-AD52-D69759532762</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>423180BB-76D0-424B-A500-A7CB720B9B5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3663A43F-E7D9-407D-950D-9DB3D22228B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>423180BB-76D0-424B-A500-A7CB720B9B5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62CA5AD5-40A3-418C-B546-753F1EDD9907</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A06CD71A-6778-48AB-A9FB-AE6515F7552E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD42B648-2B65-477E-929E-CC00905A458A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View on dashboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>select rules</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Whistle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./do-settings.js $URL '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>423180BB-76D0-424B-A500-A7CB720B9B5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node ./settings $URL</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_settings</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>17A4B683-706C-4042-AFB7-2ADCEB5AC069</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:path}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rules</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>62CA5AD5-40A3-418C-B546-753F1EDD9907</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/node ./select-rules.js $URL '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>w2</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading</string>
				<key>script</key>
				<string>[[ -d "${alfred_workflow_cache}" ]] || mkdir -p "${alfred_workflow_cache}"

/usr/local/bin/node ./index.js $URL "${alfred_workflow_cache}" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>select rules</string>
				<key>title</key>
				<string>whistle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD42B648-2B65-477E-929E-CC00905A458A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:URL}#{var:path}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A06CD71A-6778-48AB-A9FB-AE6515F7552E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>3663A43F-E7D9-407D-950D-9DB3D22228B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/$</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:URL}#{var:path}?ruleName={var:ruleName}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDB82DA2-C61F-4C9D-AD52-D69759532762</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&gt; 快速切换选择代理Rules


## Usage

type `w2` to trigger


- ⌥ ⏎ 访问WEB管理页面
- ⏎ 切换rule选择状态
- ⌘ C拷贝当前Rule具体配置项
- ⇧或⌘ Y或⌘ L进行Rule预览
- 输入关键词筛选下拉选项
- 部分设定【规则多选[x]，版本更新检查】


## install

npm install -g whistle</string>
	<key>uidata</key>
	<dict>
		<key>3663A43F-E7D9-407D-950D-9DB3D22228B4</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>36C4E69C-D047-4166-AAF9-4E2FAD70D0EC</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>423180BB-76D0-424B-A500-A7CB720B9B5A</key>
		<dict>
			<key>note</key>
			<string>select rules</string>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7B24A41C-933C-4C90-A34B-D03DCE0DA75E</key>
		<dict>
			<key>note</key>
			<string>select rules</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>8F3F47C9-3B17-4001-AB15-68C6CE16EFEA</key>
		<dict>
			<key>note</key>
			<string>settings</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8FC0401E-81D5-413F-9A5D-C86BDB8BE9C3</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>A06CD71A-6778-48AB-A9FB-AE6515F7552E</key>
		<dict>
			<key>note</key>
			<string>open url</string>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>A861B62C-7E54-491E-8FC6-FCCD1DAA2422</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>BD42B648-2B65-477E-929E-CC00905A458A</key>
		<dict>
			<key>note</key>
			<string>list rules</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>FDB82DA2-C61F-4C9D-AD52-D69759532762</key>
		<dict>
			<key>note</key>
			<string>open rules url</string>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>URL</key>
		<string>http://127.0.0.1:8899/</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.9</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
