<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.alanhe.giphy</string>
	<key>category</key>
	<string>Self-Dev</string>
	<key>connections</key>
	<dict>
		<key>2D9071F2-FF6C-4CD2-AAD3-AC629F9032E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBD4BA3D-9F12-4594-9544-09A7C6B7AF5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A4B933E-D8AC-4D72-A2B1-47C50B38E62A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A4B933E-D8AC-4D72-A2B1-47C50B38E62A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C248B86E-B99C-499B-951C-9D04FFFFBF1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D353128-848A-4E0C-A11F-3DD685057E89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F58031C-7A68-47C8-A475-CD18C54E4BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>738B5C22-910F-413E-B8BC-455E0DABCF09</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E342C5F0-F6A1-4E89-A030-2996AF690971</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A46756D-71EA-4E4E-8ADF-9B91FD3E7052</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD444C37-22C2-428F-A171-CCABC1945B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63178F25-7718-4704-A5A4-A092D70B1D7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F58031C-7A68-47C8-A475-CD18C54E4BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>738B5C22-910F-413E-B8BC-455E0DABCF09</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E342C5F0-F6A1-4E89-A030-2996AF690971</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>738B5C22-910F-413E-B8BC-455E0DABCF09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECA2C1AE-8ECB-4F7F-9800-0389D740FE80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80351828-9F67-4E25-94C4-A2B344ED3266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE75AE2A-BB2A-4C05-87F4-54832B4AD16E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F58031C-7A68-47C8-A475-CD18C54E4BE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECA2C1AE-8ECB-4F7F-9800-0389D740FE80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE75AE2A-BB2A-4C05-87F4-54832B4AD16E</key>
		<array/>
		<key>E342C5F0-F6A1-4E89-A030-2996AF690971</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A46756D-71EA-4E4E-8ADF-9B91FD3E7052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECA2C1AE-8ECB-4F7F-9800-0389D740FE80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D9071F2-FF6C-4CD2-AAD3-AC629F9032E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBD4BA3D-9F12-4594-9544-09A7C6B7AF5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80351828-9F67-4E25-94C4-A2B344ED3266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alan He</string>
	<key>description</key>
	<string>Search Giphy for animated gifs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Giphy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:operation}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FBD4BA3D-9F12-4594-9544-09A7C6B7AF5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set theQuery to item 1 of argv

set thePath to theQueryset the clipboard to POSIX file thePath

delay 1

return theQuery

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80351828-9F67-4E25-94C4-A2B344ED3266</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copied to the clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE75AE2A-BB2A-4C05-87F4-54832B4AD16E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>curl "$split1" --silent --output "$alfred_workflow_cache/$split2.gif"

echo -n "$alfred_workflow_cache/$split2.gif"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D9071F2-FF6C-4CD2-AAD3-AC629F9032E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>copy</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F58031C-7A68-47C8-A475-CD18C54E4BE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>#</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>ECA2C1AE-8ECB-4F7F-9800-0389D740FE80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching GIF...</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js $HTTP_API '{query}' $LIMIT gifs</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>./giphy-alfredworkflow</string>
				<key>subtext</key>
				<string>all the GIFs</string>
				<key>title</key>
				<string>Search GIF</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63178F25-7718-4704-A5A4-A092D70B1D7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:operation}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reveal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3A4B933E-D8AC-4D72-A2B1-47C50B38E62A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>C248B86E-B99C-499B-951C-9D04FFFFBF1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>reveal</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>738B5C22-910F-413E-B8BC-455E0DABCF09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sticker</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching Sticker...</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js $HTTP_API '{query}' $LIMIT stickers</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>./giphy-alfredworkflow</string>
				<key>subtext</key>
				<string>all the Stickerss</string>
				<key>title</key>
				<string>Search Sticker</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D353128-848A-4E0C-A11F-3DD685057E89</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:split1}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CD444C37-22C2-428F-A171-CCABC1945B91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>#</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4A46756D-71EA-4E4E-8ADF-9B91FD3E7052</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>operation</key>
					<string>browser</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E342C5F0-F6A1-4E89-A030-2996AF690971</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Easy to search gif and copy to anywhere.

## Install

1. install node</string>
	<key>uidata</key>
	<dict>
		<key>2D9071F2-FF6C-4CD2-AAD3-AC629F9032E6</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>3A4B933E-D8AC-4D72-A2B1-47C50B38E62A</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>3D353128-848A-4E0C-A11F-3DD685057E89</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>4A46756D-71EA-4E4E-8ADF-9B91FD3E7052</key>
		<dict>
			<key>note</key>
			<string>split url,id</string>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>63178F25-7718-4704-A5A4-A092D70B1D7A</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>738B5C22-910F-413E-B8BC-455E0DABCF09</key>
		<dict>
			<key>note</key>
			<string>Reveal in finder</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>80351828-9F67-4E25-94C4-A2B344ED3266</key>
		<dict>
			<key>note</key>
			<string>copy to clipboard</string>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>8F58031C-7A68-47C8-A475-CD18C54E4BE8</key>
		<dict>
			<key>note</key>
			<string>copy to the clipboard</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AE75AE2A-BB2A-4C05-87F4-54832B4AD16E</key>
		<dict>
			<key>xpos</key>
			<integer>1275</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>C248B86E-B99C-499B-951C-9D04FFFFBF1B</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>CD444C37-22C2-428F-A171-CCABC1945B91</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>E342C5F0-F6A1-4E89-A030-2996AF690971</key>
		<dict>
			<key>note</key>
			<string>Open in browser</string>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>ECA2C1AE-8ECB-4F7F-9800-0389D740FE80</key>
		<dict>
			<key>note</key>
			<string>split url,id</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>FBD4BA3D-9F12-4594-9544-09A7C6B7AF5A</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>HTTP_API</key>
		<string>Gz9oMSpG2PDXkiFwcgh5wyg243U9OHFg</string>
		<key>LIMIT</key>
		<string>15</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://1991421.cn</string>
</dict>
</plist>
