# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build docs

on:
  push:
    branches: [ master ]
    paths:
      - '*/*.alfredworkflow'
      - '.docs/**'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'
jobs:
  workflow_readme:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          npm install          
          npm run docs:initmd
          npm run docs:build
      - name: Build
        run: |
          git add -f docs
      - name: Deploy GitHub
        uses: actions-js/push@master
        with:
          message: Update docs
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
